[2021-09-02 06:42] FrancescoXX opened #8 "Background"
Add a background using the social colors and the style of the logo below

#F2E205
#F2BE22
#F29422
#F26513
#D90404

<img width="640" alt="bgcolors" src="https://user-images.githubusercontent.com/18360871/131794979-d2e1fa63-ec0b-4f29-8afa-83052552384a.png">

[2021-09-02 06:47] FrancescoXX opened #9 "Integration of Discord Widget"
Insert the Discord PREMADE WIDGET below the "Join the community" button

Here is the code to insert:

<iframe src="https://discord.com/widget?id=784142072763383858&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

[2021-09-02 06:50] FrancescoXX opened #10 "Color Schema"
Change the color schema of the site accordingly to the social colors:

#F2E205
#F2BE22 Main color
#F29422
#F26513 Main color
#D90404

<img width="640" alt="bgcolors" src="https://user-images.githubusercontent.com/18360871/131795973-e210dd91-09e8-4cb5-a5b8-51b970a9b24c.png">

[2021-09-02 06:56] FrancescoXX opened #11 "Add Home Button"
Add the link to the top-left text

Link: 4c.rocks
Icon: Home

you can use react icons with the name FaHome

<img width="109" alt="hhhhhUntitled" src="https://user-images.githubusercontent.com/18360871/131796877-49caa047-e03b-4a3c-8f2d-92f9f9db2432.png">

<img width="901" alt="sdgsdghUntitled" src="https://user-images.githubusercontent.com/18360871/131796423-2da68588-9580-4606-8ced-f2a941700f88.png

[2021-09-03 06:49] Tronic247 opened #15 "Add a fixed menu"
Add a fixed menu

[2021-09-04 08:23] #15 closed

[2021-09-07 06:32] zhorton34 commented on #9
@FrancescoXX - Pull Requests up https://github.com/FrancescoXX/4c-site/pull/18

[2021-09-08 13:05] ayushhagarwal commented on #10
The issue has been taken up and solved by @danspratling . Thank You for the contribution.

Closing the issue.

[2021-09-08 13:05] #10 closed

[2021-09-08 13:05] ayushhagarwal commented on #8
The background has been changed by @danspratling .

Closing the issue.

[2021-09-08 13:05] #8 closed

[2021-09-08 15:36] ayushhagarwal opened #20 "Remove the extra semi colon breaking the page from bottom"

[2021-09-08 17:41] InHuOfficial opened #21 ""WHAT IS 4C?" colour contrast"
## Issue:
**Colour contrast on the small text above the `<h1>`**

[code]

The current contrast is 3.35:1 and needs to be 4.5:1 minimum.

## Suggested Fix Options:

### 1. Put the text within a box with a dark background with rounded corners.

![Screenshot of changes detailed with CSS below](https://user-images.githubusercontent.com/81360444/132557074-55fd49a4-ccd9-4e96-9d32-dc1d2c246c2a.png)

####

[2021-09-08 17:47] InHuOfficial opened #22 "Horizontal Scrolling"
## Issue:
**At certain screen sizes horizontal scroll bars appear.**

![horizontal scroll bars at 1920px](https://user-images.githubusercontent.com/81360444/132558957-e5d2d465-83ad-4739-a08c-d96e04538944.png)

## To replicate:
Set screen size to 1920px by 1080px or 1366px wide.

## Suggested solve:
Replace the current: `lg:scale-110` with a better way of positioning the image off to the right. Sad

[2021-09-08 17:52] InHuOfficial opened #23 "[accessibility] .sr-only task needs replacing"
## Issue:
**Current Screen Reader Only (`sr-only`) class just needs updating.**

## Solution:
Swap current `.sr-only` for the following:
[code]
More information on why at https://stackoverflow.com/a/62109988/2702894

[2021-09-08 18:35] InHuOfficial opened #27 "Open Graph and Twitter Cards"
## Feature Request
**When sharing the site we should have Open Graph and Twitter Cards so that they are shareable as rich media cards.**

This was mentioned in the comms chat on Discord.

## Solution:
We require the following Meta Tags adding (bear in mind that these need to be configurable on a page by page basis ideally):

### Open Graph

- `og:title` -  The title of the page or article.
- `og:t

[2021-09-08 18:36] ayushhagarwal commented on #20
fixed!

[2021-09-08 18:36] #20 closed

[2021-09-08 19:24] danspratling commented on #27
@InHuOfficial This is a non-issue as it's already been set up

Check out the file here - https://github.com/FrancescoXX/4c-site/blob/main/components/SEO.js

`pages/index.js` uses these already (though it only uses metaTitle). This is pulled into every page that uses the `<Layout>` component

How to use

[code]

None of these fields are required, but when used they will create the correct fields fo

[2021-09-08 19:29] danspratling commented on #23
The lined issue is talking about Bootstrap but this repo uses Tailwind (not bootstrap), which already has an accessible `.sr-only` class set up

You can read the docs here - https://tailwindcss.com/docs/screen-readers#class-reference

This uses the following (essentially the same code as requested above).

[code]

[2021-09-08 19:35] InHuOfficial commented on #23
I would suggest reading the stack overflow post as I cover why not to use `margin: -1px` and why to add `clip-path`.

I have already checked the `sr-only` class and the only thing that they have done is the `white-space: nowrap`.

It was easier to point to that for explanations than to rewrite them here as the problems are essentially identical.

[2021-09-08 19:38] InHuOfficial commented on #27
Cool well you can close if you wish, obviously still needs setting up properly as at the moment not right, not sure whether you would rather close or just adapt this one.

[2021-09-08 20:00] danspratling commented on #23
Ah yes, good points! So what changes are needed for the `.sr-only` class then?

Seems like tailwind will still be able to handle this (with amends)

[code]

Can this change be made to the tailwind.config.js file? (most things can be updated there, usually)

something like

[code]

If we can't do it this way we can override tailwind in our default css (but this means we'll have two .sr-only classes

[2021-09-08 20:03] danspratling commented on #27
@ayushhagarwal can you close this? Going to create new issues for the 3 remaining tasks related to this one

[2021-09-08 20:07] danspratling opened #28 "Create better SEO title & description for the homepage"
Currently, the homepage is missing SEO title and description tags (the title simply says "4c") - this is not great for search or socials!

We need to update these tags to better reflect the site, something that really says what 4c is about.

The title should be short - around 55 characters
The description can be longer but not much - around 150 characters

Titles and descriptions longer than this

[2021-09-08 20:08] InHuOfficial commented on #23
Yes those 4 properties are all that need adjusting.

As for doing that with TailWind...I believe you would do

[code]
as there only appears to be 2 classes in there and the second one `not-sr-only` seems pointless?

Then define your own `.sr-only`?

Not sure to be honest!

[2021-09-08 20:12] danspratling opened #29 "Better document the SEO and Layout components"
It's very easy to miss how to use the SEO and Layout components currently - if you're not familiar with this format

Simply, <Layout> handles everything that appears on every page (Header and Footer). It also handles SEO (not a visual component, but it still appears on every page). Layout isn't limited to these 3 components, but this is all that every page uses for now.

Seo, header and footer dat

[2021-09-08 20:14] danspratling opened #30 "Create SEO social image (card) for the homepage"
A simple update to make the 4C site more attractive in social posts

We need a new design for the SEO card to appear on twitter, facebook, Linkedin, and anywhere else the site might be shared.

This card should allow the flexibility that it can be used on other pages (with design changes).

This will then need to be uploaded to the repo and passed to the SEO component on the homepage

[2021-09-08 20:30] danspratling commented on #23
The second SR only class is mostly for media queries `sr-only md:not-sr-only` so that if something like a text and icon becomes just an icon on mobile it retains its screen readership quality.

So it may or may not want to be disabled entirely - I think updating tailwind is probably still better (as you get purgeability, breakpoints and the other good tailwind stuff automatically) but let's leave

[2021-09-09 03:04] SiddharthShyniben opened #32 "Misleading "why 4C" button"
The "Why 4C" button hints at being a video, or at least some text. But it takes us to the Discord invite, which is misleading. I suggest we should either create a video or text, remove the button, or add a coming soon badge.

[2021-09-09 09:26] ayushhagarwal opened #33 "Improvement of "4C" on navbar."
The 4C on the navbar looks to plain and can be improved to look better and pop out more on the page.

Ideas:
Add background , border.

[2021-09-09 12:35] SavvasStephanides commented on #32
Came here to say this. Looks like it's supposed to go to a video or something.

[2021-09-09 12:41] SavvasStephanides opened #34 "Unsafe link to Github"
The Github link could be made safer if `rel="noopener"` or `rel="noreferrer"` are included in the link.

Suggestion:

[code]

[2021-09-09 19:20] InHuOfficial commented on #33
Suggestion: Put the actual 4C dynamite logo in a circle instead?

Here is one from a design I did for the site with a drop shadow that would match the button shadow?

![4C logo with drop shadow](https://user-images.githubusercontent.com/81360444/132749281-7496e904-9f31-40eb-9f41-631891f04984.png)

[2021-09-10 09:17] miketalbot opened #35 "Add Google Analytics or equivalent to provide insights"
We could really do with tracking traffic sources as well as visit information.

[2021-09-12 15:42] amitavroy commented on #35
Yes, I would suggest adding Google Tag Manager instead of Google Analytics so that you can add more of analytics related stuff without making any code change.

[2021-09-12 15:50] amitavroy opened #39 "Horizontal scroll on 13" Mac Book"
The site seems to have a horizontal scroll on my 13 inch old Mac Book Air (Non-Retina screen)
Resolution: 1440 x 900
Browser: Brave

[2021-09-12 16:03] ayushhagarwal commented on #22
The issue has been resolved by @cpaule1811 . Thank You for your contribution to the codebase.

[2021-09-12 16:03] #22 closed

[2021-09-12 16:06] ayushhagarwal commented on #39
Hi, @amitavroy thank you for raising the issue,  we just merged a PR to solve horizontal scroll. We would like you to check again, if the issue still persists otherwise we can go ahead and close this issue.

[2021-09-13 13:01] amitavroy commented on #39
Hey @ayushhagarwal yes the latest commit does fix this issue so closing the same.

[2021-09-13 13:01] #39 closed

[2021-09-18 14:46] ayushhagarwal commented on #28
Taking this issue.

[2021-09-19 08:31] SiddharthShyniben commented on #30
You could also add the image as the sharing image in the repo settings also.

[2021-09-19 19:15] ProCode2 opened #42 "Hero section's text is overlapping with navbar's text."
One text(`T`) is overlapping another text(`4C`) in mobile  view. One solution probably would be to add enough padding to the top of the hero section.

![IMG_20210920_003431](https://user-images.githubusercontent.com/50803990/133939821-b32e067a-38fc-4ace-a5ae-8f6491eee164.jpg)

### Device Information
Browser: Chrome
OS: Android

[2021-09-21 06:10] ayushhagarwal commented on #30
Closing the issue. PR for this feature has been merged.

[2021-09-21 06:42] #30 closed

[2021-09-21 14:23] #27 closed

[2021-09-22 19:19] MeerHamza1421 commented on #11
If I'm getting it right, here we are supposed to replace the 4C logo with the home Icon or add a home icon along with the logo?

[2021-09-26 07:08] ayushhagarwal opened #49 "Build failing"
A build is failing since few days. It would be great if someone could have a look.

[2021-09-28 06:12] ProCode2 commented on #49
@ayushhagarwal  I checked vercel build is working well. Do you mean the failing actions? This 👇
 <img width="1076" alt="Screenshot 2021-09-28 at 11 38 51 AM" src="https://user-images.githubusercontent.com/50803990/135032823-8cafe9a5-873f-4dbe-bb42-d0f7c36bed08.png">

[2021-09-28 06:14] ayushhagarwal commented on #49
Yea @ProCode2 , I meant this one.

[2021-09-28 06:20] ProCode2 commented on #49
@ayushhagarwal PRed a fix. However, this can be automated within the workflow or locally with `pre-commit` hooks. Let me know your thoughts on that.

[2021-09-28 06:23] ayushhagarwal commented on #49
It would be great to automate this. Maybe you can raise a PR for that too whenever you feel like. Or create an issue if you want someone else to try.

[2021-09-28 06:28] ayushhagarwal commented on #42
The PR by @msaaddev to fix this issue has been merged just now. Closing the issue, let me know if any questions.

[2021-09-28 06:28] #42 closed

[2021-09-28 06:44] ayushhagarwal commented on #49
Hey @ProCode2  I merged on of the PR's. And its again failing. Can you please pull the latest changes fix the fail and raise a new PR.

[2021-09-28 07:05] ProCode2 commented on #49
Yep sure, Or let's add the commit hook. Since this will happen every time someone merges unformatted code 😅

[2021-09-28 07:47] ProCode2 commented on #49
@ayushhagarwal Added a hook to automate this. Check the PR #51. Now the only issue is with existing PRs, those will not have this hook in their local so for that you'd have to check every PR by running it through `yarn format:check` if there are issues request changes.
And new PRs will be autoformatted by default!

[2021-09-28 08:04] #49 closed

[2021-09-28 08:09] ProCode2 commented on #49
@ayushhagarwal the current build failed because of `Header.js`which is not in my current fork so it did not format that. Rest everything is working good 👍

[2021-09-28 13:55] ayushhagarwal opened #52 "Reduce the size of 4C banner in the Readme.md File"

[2021-09-28 13:58] ayushhagarwal commented on #34
Closing the issue as the PR to address this issue has been merged. Thank you for raising this issue.

[2021-09-28 13:58] #34 closed

[2021-09-28 13:59] ayushhagarwal commented on #11
@FrancescoXX , just one question here. Do you wish to replace 4C with home icon or have both of them together. I think the current 4C is better to redirect to home.

[2021-09-28 15:18] SiddharthShyniben commented on #52
I was the one who added that oversized banner 😅. I'll open a PR

[2021-09-28 15:26] #52 closed

[2021-09-29 06:09] ProCode2 commented on #32
Until we have a video, Should we just add a modal pop-up?

[2021-09-29 13:32] SiddharthShyniben commented on #32
I suggest you hide the button, since an empty modal is going to be confusing ("should I wait for the modal to load?" "is this just a test?" "did something break?")

[2021-09-29 14:44] ProCode2 commented on #32
@SiddharthShyniben We can put some generic content in the modal as well. That would be easy to put together. @ayushhagarwal or @avneesh0612 can you assign me this issue?

[2021-09-29 14:46] ayushhagarwal commented on #32
@ProCode2  assigned, you can start working

[2021-09-29 16:11] ayushhagarwal commented on #32
closing the issue. PR by @Arjun-Joshi20 merged to fix it.

[2021-09-29 16:11] #32 closed

[2021-09-30 14:47] #9 closed

[2021-09-30 16:53] ProCode2 commented on #33
@InHuOfficial Do we have a new logo or we can use the one you have sent here?

[2021-10-01 03:51] SiddharthShyniben opened #66 "Update the contributing guidelines"
As I mentioned in the PR adding contributing guidelines #55 the contributing guidelines are incomplete. I would like to drop a PR finishing them, but I need this info:

1. Any way of official contact with 4C (preferably email)
2. Will the site be interactive in the future? Will it have settings/options/etc.? Plugins? (I'm just asking if you have it planned, not if you have it right now)
3. What la

[2021-10-01 03:59] SiddharthShyniben opened #67 "Add some good first issues"
Right now, the [contribute](https://github.com/FrancescoXX/4c-site/contribute) page is empty. If you add some issues with the label `good first issue`, they will pop up there.

[2021-10-01 04:11] SiddharthShyniben opened #69 "Too much padding on left side"
On the site, the text has a lot of padding but the image doesn't. This looks off and I think the padding should be made equal.

If you like I can open a PR for this.

[2021-10-01 06:09] ayushhagarwal commented on #67
Have you opened this issue asking people to open more issues?

[2021-10-01 06:14] ayushhagarwal opened #71 "Make "Contributers" in the form of a button on navbar"
<img width="278" alt="Screenshot 2021-10-01 at 11 41 28 AM" src="https://user-images.githubusercontent.com/32107448/135573921-a1caf41e-d755-413f-84d8-0ff3441ef397.png">

Talking about this contributors on the top right. Currently in the form of plain text it looks off.

[2021-10-01 06:20] GeorgeET15 commented on #71
Hi sir,
I would Like to solve this issue can you please assign me :)

[2021-10-01 06:29] grawish commented on #71
Can I Work on this issue?

[2021-10-01 06:30] ayushhagarwal commented on #71
@GeorgeET15 you can start working. @grawish if you still wish to contribute you can work and raise the PR with a screenshot of how the button looks. I'll merge the one which looks better.

Or @grawish you can take any other issue.

[2021-10-01 07:16] SiddharthShyniben commented on #67
No, I'm asking to label appropriate issues as good first issues so that people can find issues easily. If I were a contributor I could myself, but since am not I am asking here.

[2021-10-01 07:30] GeorgeET15 commented on #71
Sir, I have submitted my PR. Thank you

[2021-10-01 09:44] #71 closed

[2021-10-01 09:47] ayushhagarwal commented on #67
Yeah I am doing that on the issues I feel is suitable for the label. So I can close this issue ?

[2021-10-01 10:09] StarTrooper08 commented on #21
Anyone working on this issue?

[2021-10-01 10:15] InHuOfficial commented on #21
@StarTrooper08 nope, all yours! 😁

[2021-10-01 13:13] SiddharthShyniben commented on #67
@ayushhagarwal Yeah if you think it's done go ahead

[2021-10-02 01:50] Amishakumari544 opened #76 "Bug : website responsiveness"
I just open the website in phone it is not looking responsive to me.

[2021-10-02 02:44] JOEMN96 commented on #76
assign this to me. Ill work on this.

[2021-10-02 10:48] #67 closed

[2021-10-02 12:09] InHuOfficial commented on #11
As per call 2021-10-02, this needs changing so that instead of a div it is instead an anchor for accessibility.

At the moment you cannot focus the logo and so can't click it via keyboard.

[2021-10-02 12:20] InHuOfficial opened #79 "there are duplicate `<main>` elements on the contributors page"
[code]

The inner `<main>` element needs removing and any relevant classes moving to the outer `<main>`.

A page should only ever have **one** `<main>` element and it should not exist inside another sectioning element (such as `<header>`, `<footer>`) etc.

[2021-10-02 12:26] InHuOfficial opened #80 "No heading level one (`<h1>`) on contributors page [accessibility] [SEO] [Good First Issue]"
The "Contributors" main heading on the contributors page is currently a `<h2>`. It should be a ` <h1>`.

It just needs changing to the correct heading level.

[2021-10-02 12:39] InHuOfficial opened #81 "`prefers-reduced-motion` required on contributors page"
## Issue

When you hover a profile card there is an animation that plays.

For people with vestibular disorders (motion sensitivity) this animation could cause them to feel ill. It can also be distracting for people with paranoia etc.

The animation needs to not fire if someone has set [prefers-reduced-motion](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion) in their

[2021-10-02 12:49] InHuOfficial opened #82 "All social media links have repeated text for screen readers on the contributors page"
The cards on the contributors page have various links to twitter, github etc.

The problem is that the screen reader text is just set to "GitHub", "Twitter" etc. so that means a screen reader only gets a list of links with no real meaning.

Instead they should read "Siddarth Github", "Siddarth Twitter" (where Siddarth is the username of that contributor) etc.

[code]

![image](https://user-images.

[2021-10-02 12:55] ayushhagarwal commented on #76
@JOEMN96  assigned to you.

[2021-10-02 12:59] InHuOfficial opened #83 "Contributors and Sponsors buttons on the contributors page are headings instead of buttons."
## Issue

![image](https://user-images.githubusercontent.com/81360444/135716981-c8ca634b-7b31-4c6a-bb71-69a3ac181503.png)

These buttons are not accessible via keyboard, additionally they should not be headings.

### Current HTML
[code]

## How to fix
There are numerous ways to fix, personally I would move the sponsors to a different page and change these into anchors (`<a href="">`) instead. If w

[2021-10-02 14:37] abhikhatri67 commented on #80
Hey @InHuOfficial, can I work on this issue?

[2021-10-02 14:38] InHuOfficial commented on #80
@abhikhatri67 all yours, I just put the issues down for other people to fix! 😁

[2021-10-02 14:40] abhikhatri67 commented on #80
@InHuOfficial  Thanks, but I think the PR is already generated for this.

[2021-10-02 14:43] InHuOfficial commented on #80
@abhikhatri67 wow that was quick! CLOEI was quick taking that one!

https://github.com/FrancescoXX/4c-site/issues/11 is a good first issue if that is what you are looking for?

[2021-10-02 14:46] abhikhatri67 commented on #80
Thank you, I will look at these.

[2021-10-02 14:47] abhikhatri67 commented on #79
Hey @InHuOfficial, can you assign me this issue?

[2021-10-02 14:58] niteshseram commented on #82
Would love to take this up

[2021-10-02 15:00] InHuOfficial commented on #79
Ask @ayushhagarwal, I don't have any access to assign issues etc. 👍

[2021-10-02 15:13] ayushhagarwal commented on #79
@abhikhatri67 assigned. All the best!

[2021-10-02 15:28] #80 closed

[2021-10-02 15:28] #28 closed

[2021-10-02 15:28] Vishwajith-Shettigar commented on #80
please asssign me

[2021-10-02 15:29] Vishwajith-Shettigar commented on #69
please assign me

[2021-10-02 15:32] Vishwajith-Shettigar opened #85 "button overlap image"
i want to fix this

[2021-10-02 15:33] Vishwajith-Shettigar commented on #83
i want to fix this please assign me

[2021-10-02 15:44] ayushhagarwal commented on #21
@StarTrooper08 we would love to have you contribute. Do you want me to assign you this. Also it is recommended to change the styling to either the second or the third one.

[2021-10-02 15:45] StarTrooper08 commented on #21
Sure you can assign me this issue

[2021-10-02 15:46] ayushhagarwal commented on #21
Assigned! :)

[2021-10-02 16:26] Vishwajith-Shettigar commented on #33
please assign me

[2021-10-02 16:27] ayushhagarwal commented on #33
@Vishwajith-Shettigar assigned. All the best !

[2021-10-02 16:37] Vishwajith-Shettigar commented on #83
where is html file ?

[2021-10-02 16:49] Vishwajith-Shettigar commented on #83
I did please check my pr

[2021-10-02 18:11] Amritanshu02 commented on #69
Hello, I would like to work upon this issue, please assign it to me

[2021-10-02 18:13] Amritanshu02 commented on #11
Hello, I would like to work upon this issue, please assign it to me.

[2021-10-03 01:17] lsfgrd commented on #81
Hey! I'd like to help with this 😄 @ayushhagarwal can you assign it to me?

[2021-10-03 04:40] SiddharthShyniben commented on #69
So three of us wanna work on this... Who's it gonna be?

[2021-10-03 06:25] ayushhagarwal commented on #83
@InHuOfficial I just merged a PR the changes in which were as you said above were temporary fix. Shall we close the issue or keep it open?

[2021-10-03 06:26] ayushhagarwal commented on #82
@niteshseram assigned you the issue. :)

[2021-10-03 06:31] niteshseram commented on #82
Thanks will make a PR soon

[2021-10-03 07:02] ayushhagarwal commented on #81
@lsfgrd assigned :)

[2021-10-03 07:32] InHuOfficial commented on #83
@ayushhagarwal depends how you want to manage this, the page is now usable with a keyboard but terrible for screen reader users.

Close it for now as the sponsor page is not fleshed out yet and doesn't even have its own URL.

I will re-raise an issue when the site is further along. 👍

[2021-10-03 10:47] hussu010 opened #90 "Add Issue template for better bug explanation and triage"
#### Problem
I've checked the issues of bug reports and found out that they often do not have the information required to identify the bug and reproduce it.
#### Solution
Having an issue template will help identify, triage, implement the solution and makes the process seamless.

[2021-10-03 13:32] niteshseram opened #93 "replace img element with next/image"
Replace `img` element in `ProfileCard` component with Next.js's `Image` element

Why?
Next.js's Image element does a lot of good things behind the scene like performance optimization, lazy loading, image compression and serve the image in `.webp` format

If this issue sounds good, would love to create a PR on this.

[2021-10-03 13:47] SiddharthShyniben commented on #90
I think it will be better to use the new issue forms if possible, but only maintainers can do that.

[2021-10-03 13:48] SiddharthShyniben commented on #85
Details please? Any screenshots and etc.

[2021-10-03 13:51] SiddharthShyniben commented on #81
This will also be needed on other pages as well. On the home page there is a button hover effect

[2021-10-03 13:52] SiddharthShyniben opened #95 "Remove contributors button on contributors page"
The button on that page is not necessary, and it looks a bit off

[2021-10-03 13:57] hussu010 opened #96 "Image overlaps with contributors button"
Before:
![image](https://user-images.githubusercontent.com/55182298/135756828-37e610ad-9d78-4a08-9cb4-96777d40a70e.png)

After:
![image](https://user-images.githubusercontent.com/55182298/135756883-cd87e1e6-e972-4fc8-be8a-0417c2212702.png)

[2021-10-03 13:58] SiddharthShyniben opened #97 "Content moves when switching Contributors/Sponsors tab"
If you click on the sponsors button on the contributors page, the whole thing moves down. Click the contributors button and it goes back up.

[2021-10-03 14:01] SiddharthShyniben opened #100 "Remove "What is 4C?" thing"
Honestly I don't think it looks good. It's kinda meaningless.

If you think otherwise feel free to close.

[2021-10-03 14:05] SiddharthShyniben commented on #100
And it also overlaps with the navbar.

[2021-10-03 14:16] SiddharthShyniben opened #101 "Nav is not a nav"
https://github.com/FrancescoXX/4c-site/blob/eb458e2729a4c0add5cb189e195c403bbe999c5e/components/Header.js#L11

The nav is not a `<nav>`. It's a div.

I'll drop a PR if you assign me.

[2021-10-03 14:18] SiddharthShyniben opened #102 "Cleanup navbar"
Currently the navbar is made absolute and moved into place; I think this is needlessly complex. If you remove the absolute you can also remove a bunch of other classes and clean the code.

This won't change any functionality, it only simplifies code which can improve DX

I'll drop a PR if you assign me.

[2021-10-03 15:29] Arjun-Joshi20 commented on #100
There is supposed to be a video for, What is 4C? So that's why it is there.

[2021-10-03 16:11] ayushhagarwal commented on #100
It is fine. And since the font size is too small, so it doesn't really pop out and mess with the content.
Closing this issue.

[2021-10-03 16:11] #100 closed

[2021-10-03 16:13] ayushhagarwal commented on #101
@SiddharthShyniben instead of opening a new issue for these very small syntactical changes. it would be better if you directly do the changes , open a PR and mention it in the PR itself what was wrong and what you fixed.
Closing this issue.

[2021-10-03 16:13] #101 closed

[2021-10-03 16:16] ayushhagarwal commented on #95
Check out issue number #83. There is a good explanation why having buttons would be useful.
If you find it makes sense close the issue. :)

[2021-10-03 16:18] #81 closed

[2021-10-03 16:20] #79 closed

[2021-10-03 16:21] #90 closed

[2021-10-03 16:23] #82 closed

[2021-10-04 04:10] SiddharthShyniben commented on #101
Sure thing @ayushhagarwal  I thought something like this would happen 🤣.

In most repos there is a rule that you should open an issue first, before the PR. I thought that applies here so I opened an issue.

[2021-10-04 04:15] SiddharthShyniben commented on #95
I'm not talking about that button, I'm talking about the button on the nav.

![Screen Shot 2021-10-04 at 9 44 19 AM](https://user-images.githubusercontent.com/76640268/135793423-0f2670bc-f590-4487-b153-4618fe08a3de.png)

On the contributors page it isn't necessary and can be hidden (or disabled). This will make the UI/UX better, especially for keyboard users who don't need an extra <kbd>Tab</kbd>

[2021-10-04 05:55] #35 closed

[2021-10-04 08:36] StarTrooper08 commented on #21
I feel like the third option ( make the text larger ) is a better option.
what do you say @ayushhagarwal ?

[2021-10-04 13:43] #96 closed

[2021-10-04 13:49] ayushhagarwal commented on #102
You can work and raise the PR. Assigned it to you 👍🏻

[2021-10-04 13:50] ayushhagarwal commented on #95
okay yeah got it. good point noted!

[2021-10-04 13:51] ayushhagarwal commented on #85
what do you mean. Can you give a bit details.

[2021-10-04 13:51] #83 closed

[2021-10-04 14:51] SiddharthShyniben commented on #95
So are we going to fix this?

[2021-10-04 14:52] SiddharthShyniben commented on #85
I don't see any button overlapping any images anywhere at least on my device

[2021-10-04 14:54] ayushhagarwal commented on #95
Yep, that's why I didn't close it.  If you want you can take it up or we will leave it for some beginner to get his hacktoberfest PR

[2021-10-04 15:19] SiddharthShyniben opened #109 "Contributors page broke: Error 300"
**Bug Description**
The sponsors tab of the [contributors page](https://4c.rocks/contributors) broke. Apparently it's error [#300](https://reactjs.org/docs/error-decoder.html/?invariant=300) which is "Rendered fewer hooks than expected. This may be caused by an accidental early return statement."

**Steps to Reproduce**

1. Go to <https://4c.rocks/contributors>
2. Click on Sponsors Tab

**Expected

[2021-10-04 15:24] SiddharthShyniben commented on #95
I guess I'll just leave it for others. I've done a lot of PRs here already.

You should add `hacktoberfest` and `good first issue` and some more labels for visibility

[2021-10-04 20:09] StarTrooper08 commented on #21
### Before
![before](https://user-images.githubusercontent.com/72031540/135915820-4ca31bd8-19ff-43ae-afe1-957e9af3f095.PNG)

### After
![after](https://user-images.githubusercontent.com/72031540/135915825-40d8b359-713e-4910-8194-dc2cc3df0e24.PNG)

Did the font size for (What is 4C?) to **`1.34rem`**.
font-size on  **`1.5rem`** seemed to be larger and it was getting overlapped by the contributor's

[2021-10-04 20:41] InHuOfficial commented on #21
It has to be font-size: 1.5rem to meet minimum standards for contrast and font size.

I would suggest the fix would be to add some padding or margin to the top of the container at mobile size to push it down far enough that there is no overlap. 👍

[2021-10-05 03:18] StarTrooper08 commented on #21
Ohk👍

[2021-10-05 09:42] #85 closed

[2021-10-05 09:42] ayushhagarwal commented on #93
It sounds good @niteshseram , you can start working.

[2021-10-05 19:21] JDcamacho13 commented on #95
Hi!!! 👋
I solved this issue in my PR, please check it

[2021-10-05 21:36] JDcamacho13 commented on #109
Hi!!! 👋
I solved this bug in a PR, please check it

[2021-10-06 18:08] ProCode2 opened #115 "Stop Github actions from making empty commits."
- [ ] When there are no new contributors, GitHub actions should not make a commit.
- [ ] Can we only run actions in the main repository and not in the forks?

[2021-10-07 07:58] #115 closed

[2021-10-08 02:17] SiddharthShyniben opened #120 "Move to organization?"
I'm guessing we are going to make a lot more projects related to 4C. So IMO we should move the repository to a GitHub organization.

[2021-10-08 09:49] #120 closed

[2021-10-10 03:22] SiddharthShyniben opened #121 "Contributors script will not update user profile data"
**Bug Description**
The Contributors script will not update user profile data. It only adds new users

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Contribute ;)
2. Change your profile data
3. Data not updated on contributors page

**Expected behavior**
User profile data is updated

**Actual behavior**
User profile data is not updated

**Screenshots/Recordings**
N/A

**OS and Browser

[2021-10-11 10:07] Aryan-kumar-mains opened #124 "Issue : Contributor section is not responsive in small screen"
**Bug Description**
Sponsors and contributor menu bar is not present in small screen  after going into the contributors section. It means it is not responsive.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'Contributor section'
2. Switch to Inspect mode and make screen small
3. Scroll down through whole contributors but menu of Contributors or Sponsors is not present so that we

[2021-10-12 15:46] #121 closed, assigned to nobody

[2021-10-13 04:51] SiddharthShyniben commented on #66
@FrancescoXX sorry for the ping but could you please answer these?

[2021-10-13 04:57] SiddharthShyniben commented on #23
Can I work on this?

[2021-10-13 14:16] ayushhagarwal commented on #97
@PaulEvans8669 assigned this to you.

[2021-10-14 07:08] #124 closed, assigned to Aryan-kumar-mains

[2021-10-15 21:25] pankajpatel opened #126 "Streamline favicon and opengraph"
This issue is in relation to #29

Currently, `pages/index.js` and `pages/contributors.js` have the same copy of favicon and open graph

This can be and should be streamlined via `components/Layout.js` as @danspratling is suggesting in #29

The new structure can go as

[code]

With this, `pages/index.js` and `pages/contributors.js` will have only the responsibility of adding content components.

[2021-10-16 04:28] SiddharthShyniben commented on #66
Thanks for the info, I'll add it. You can assign me if you like.

[2021-10-16 09:18] ayushhagarwal commented on #97
@PaulEvans8669, the PR you raised earlier solves this issue right?

[2021-10-17 15:07] #21 closed

[2021-10-17 15:11] ayushhagarwal commented on #69
I think the picture is good. If we give it padding it won't look good. The best we can do here is just reduce the text padding by very little value.
@avneesh0612

[2021-10-17 15:15] ayushhagarwal commented on #11
@InHuOfficial, I just saw this,  we don't have a div. <Link> is being used or were you talking about the div enclosing it ? And any help on how we can achieve the points you mentioned as success criteria.

[2021-10-17 15:36] ayushhagarwal commented on #66
@SiddharthShyniben assigned you!

[2021-10-17 15:38] ayushhagarwal commented on #66
3. We cannot pre define labels for issues. It depends on the issue we are raising. So you can skip that point.
4. Vercel is our build tool

[2021-10-19 13:49] ayushhagarwal commented on #97
No problem @PaulEvans8669  :)
Thanks for your contribution. Closing this issue.

[2021-11-06 14:07] AjjlalAhmed opened #132 "Responsive web design is working on desktop but not on mobile device"
it's not responsive to the mobile view.

[2021-11-09 13:56] ayushhagarwal commented on #69
Closing this issue, for now this change is not required as the padding seems fine.

[2021-11-09 13:56] #69 closed

[2021-11-13 08:32] #11 closed

[2021-11-13 09:59] InHuOfficial opened #135 "Sponsors page is not an actual page [bug] [a11y]"
## Bug Description
Sponsors page is not on its own URL.

This means you cannot use the back button to return to the previous page.

## Steps to Reproduce
Go to contributors page and click sponsors, URL does not update

## Expected behavior
URL should change to https://4c.rocks/sponsors

## Actual behavior
URL remains as https://4c.rocks/contributors

[2021-11-15 03:39] SiddharthShyniben opened #137 "Automating adding contributors"
Currently the way new contributors are added is by manually editing the JSON file, which is kinda hard.

I was thinking of adding a new way: if you comment on an issue with a username, that user will be auto-added to the contributors.

This is achievable using GitHub actions, I can open a PR. Just wanted to get your opinions on this idea.

[2021-11-15 16:52] ayushhagarwal opened #138 "Empty Space at the bottom of the home page"
**Bug Description**
There is a noticeable white blank space at the bottom of the home page.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.4c.rocks'
2. Scroll down to 'bottom'
4. See error

**Expected behavior**
The bottom border of home page that is the orange background section should be extended to the bottom.

**Actual behavior**
The height is maybe not fully pr

[2021-11-15 16:54] ayushhagarwal opened #139 "Contributors Button on the Navbar not vibrant"
On visiting the site, at first glance I missed the "contributors" button.

Suggestions :
* Can be made in the form of a button , like "Join The Discord" button.
* Changing the color scheme can also work.

If anyone disagrees with the issue, its completely fine. Sometimes UI can be a personal preference.

<img width="1273" alt="Screenshot 2021-11-15 at 10 24 20 PM" src="https://user-images.githubus

[2021-11-17 15:42] SamipPoudel58 commented on #139
@ayushhagarwal I like the idea of styling the contributors button like the discord button but let's make it a bit smaller, the previous one was a bit huge.
Or, maybe we could just put a bottom border to highlight the button?

[2021-11-18 02:58] SamipPoudel58 opened #141 "Unwanted gap on the right of homepage"
**Bug Description**
There is a gap on the right on the homepage for screens with a
- width less than ~1180px.
- width more than ~1023px.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to https://4c.rocks
2. Open the chrome devtools (F12)
3. Check the responsiveness on width less 1180px.

**Expected behavior**
There should not be any gap on the right of the homepage.

**Actual behav

[2021-11-18 16:37] ayushhagarwal commented on #141
Thanks for finding this issue and doing the fix as well. Since your PR is merged, closing this one.

[2021-11-18 16:38] ayushhagarwal commented on #139
I feel a discord like button would be better and yeah a bit smaller though.

[2021-11-19 12:55] SamipPoudel58 commented on #141
@ayushhagarwal the merged PR #140 fixes the issue for screens with a width less than 380px but this issue is for width between 1180px - 1023px. This is not the same issue.

[2021-11-20 07:08] FrancescoXX commented on #141
reopening as the widget disappears for width < 1180px

[2021-11-20 07:15] FrancescoXX commented on #141
now the widget doesn't disappear

[2021-11-20 07:16] FrancescoXX commented on #132
duplicated issue https://github.com/FrancescoXX/4c-site/issues/76

[2021-11-20 07:16] #132 closed

[2021-11-20 07:17] FrancescoXX commented on #135
the page sponsor has been removed for now. it will be added after the content creator of the week

[2021-11-20 07:17] #135 closed

[2021-11-20 07:18] FrancescoXX commented on #137
for now, the contributors will be added manually. It's not just about the contributors of the repository but the contributors of the Community

[2021-11-20 07:18] #137 closed

[2021-11-20 07:19] FrancescoXX commented on #138
let's create an issue for this and create a footer

[2021-11-20 07:19] #138 closed

[2021-11-20 07:20] FrancescoXX commented on #139
let's discuss about this today on the 4CALL

[2021-11-20 07:38] FrancescoXX commented on #139
changed style. closing this issue

[2021-11-20 07:38] #139 closed

[2021-11-20 07:39] FrancescoXX commented on #33
changed the style. we need to redesign it

[2021-11-20 07:39] #33 closed

[2021-11-20 07:46] FrancescoXX opened #142 "White line on the right for small devices"
On small vertical devices, it shows a white line instead of the usual background.

![image](https://user-images.githubusercontent.com/18360871/142718832-8776ae23-7310-4801-8b1b-09767fcc39dd.png)

[2021-11-20 08:19] FrancescoXX commented on #76
fixed with pr https://github.com/FrancescoXX/4c-site/pull/143

[2021-11-20 08:30] FrancescoXX commented on #142
related to #141 closed by #143

[2021-11-20 08:30] #142 closed

[2021-11-20 08:31] FrancescoXX commented on #141
solved by #143

[2021-11-20 08:31] #141 closed

[2021-11-20 08:35] FrancescoXX commented on #29
Thank you. the SEO component will be discussed again as the SEO component has been removed.

[2021-11-20 08:35] #29 closed

[2021-11-20 09:01] FrancescoXX commented on #76
WEb responsiveness improved a lot. #143
https://github.com/FrancescoXX/4c-site/commit/1bb62f01fe06e1d9c38dc32a14d60b8f725edd24

[2021-11-20 09:01] #76 closed

[2021-12-02 02:43] SiddharthShyniben opened #144 "Invite to 4C via site"
It would be cool if there was some sort of link we could visit that could redirect to 4C, (ie. join.4c.rocks or 4c.rocks/join) instead of using discord invite links, just for some branding

[2022-01-24 05:51] avneesh0612 opened #146 "GitPodify project"
Add a `.gitpod.yml` file with some basic configuration. https://www.gitpod.io/docs/references/gitpod-yml

[2022-01-24 05:53] avneesh0612 opened #147 "Add more Issue templates"
Currently, there is only 1 issue template. We should add more of them like feature requests, etc.

[2022-01-24 05:54] avneesh0612 opened #148 "Add pull request template"
Add a pull request template in the `.github` folder. https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository

[2022-01-24 06:40] RishiKumarRay commented on #146
I would like to do, can you tell me what things we have to include

[2022-01-24 06:42] avneesh0612 commented on #146
This should do-

[code]

[2022-01-24 06:44] RishiKumarRay commented on #146
Can you assign me

[2022-01-24 06:46] RishiKumarRay commented on #146
I though you use npm but its yarn ok no problem, so i should simply copy all this at the root of the project in a yml file

[2022-01-24 06:50] avneesh0612 commented on #146
sounds good, and just saw that there are both yarn and package locks. @FrancescoXX should we use yarn or npm?

[2022-01-24 06:50] avneesh0612 commented on #146
for the time being you can choose any one @RishiKumarRay

[2022-01-24 06:57] RishiKumarRay commented on #146
@avneesh0612 please review

[2022-01-24 07:03] #146 closed

[2022-01-24 07:05] avneesh0612 opened #150 "Update tailwindCSS version to 3"
Currently, the site is using TailwindCSS v2, we need to update it to tailwindCSS v3.

[2022-01-25 02:00] aymanesarrar commented on #150
hello, @avneesh0612  I already fixed the issue can you check and assign the issue to me?

[2022-01-25 05:25] avneesh0612 commented on #150
assigned it to you, will check the pr soon

[2022-01-30 14:29] VishwaGauravIn commented on #150
fixed

[2022-01-31 18:09] raikiran07 commented on #148
hi @avneesh0612 I would love to work on this issue, would you please assign it to me and can you please give a rough example for the content that should be included in the pull request template? I am new on github but would love to contribute and learn.

[2022-02-01 02:16] avneesh0612 commented on #148
Have a look at this @raikiran07 - https://github.com/avneesh0612/.github/blob/main/.github/PULL_REQUEST_TEMPLATE.md

[2022-02-01 02:17] #150 closed

[2022-02-01 06:04] raikiran07 commented on #148
thank you @avneesh0612

[2022-02-01 06:46] raikiran07 commented on #148
hi @avneesh0612 I have created a pull_request_template and send a PR could you please check it once and merge it to the main branch if everthing is fine.

[2022-02-01 07:11] avneesh0612 commented on #148
cool!

[2022-02-10 01:08] #148 closed

[2022-03-31 13:57] avneesh0612 opened #155 "Link 4c twitter"
Add a link of 4c Twitter account on the website

[2022-04-01 00:28] avneesh0612 commented on #155
Sure!

[2022-04-01 15:07] ez-sherlock commented on #155
Can you please tell me where to add the twitter link in the website?

[2022-04-01 15:40] avneesh0612 commented on #155
![image](https://user-images.githubusercontent.com/76690419/161296570-d71b794d-61e6-4651-92b3-ed6a15a99611.png)
Probably in one of these two spots

[2022-04-01 15:50] ez-sherlock commented on #155
Ok got it. Can I get the 4c Twitter username too?

[2022-04-01 16:17] avneesh0612 commented on #155
https://twitter.com/4ccommunityhq

[2022-04-01 16:18] ez-sherlock commented on #155
Okay thanks!

[2022-04-02 07:36] ez-sherlock commented on #155
Is it looking good?
![Added Twitter Link](https://user-images.githubusercontent.com/89704304/161372377-1d8fcf93-152d-4e99-bcf2-eb2b52c6ff38.png)

[2022-04-02 07:46] avneesh0612 commented on #155
Yup, looks good!

[2022-04-02 07:55] #155 closed

[2022-06-05 03:02] avneesh0612 opened #158 "Create mediakit for the new brand"
Create a media kit for all the necessary things like logo, banner, etc. and add a link in the readme

[2022-06-05 03:04] avneesh0612 opened #159 "Update the logo"
Update the logo on the website with the new one

[2022-06-05 03:04] avneesh0612 opened #160 "Update the color pallete"
The logo and brand of 4c has been updated recently, so create and use a new color palette on the site

[2022-06-06 07:07] conormacd8 commented on #160
I'd be happy to help. This would be my first issue so I'm not exactly sure about the process to make contributions but if you could guide me in the right direction I think I could add value to your project :))

[2022-06-06 10:47] avneesh0612 commented on #160
hey, you just need to update the site's colours like currently, it is orange and yellow but since we updated the logo we want to use a design matching that. This is the logo-
![image](https://user-images.githubusercontent.com/76690419/172146715-aa5c0c01-0c1d-415d-a363-4a32ba3f34c1.png)

[2022-06-12 17:46] jennaly commented on #160
hi! Can I take on this issue?

[2022-06-13 02:01] avneesh0612 commented on #160
sure! Assigning it to you

[2022-06-14 23:29] jennaly commented on #160
Hi! Please review my PR #161, thank you!

[2022-06-16 07:10] #160 closed

[2022-07-02 14:55] VaarunSinha commented on #144
I want to work on this issue, please assign me.

[2022-07-02 15:04] avneesh0612 commented on #144
cool! assigning

[2022-07-03 12:09] #147 closed

[2022-07-03 14:15] VaarunSinha commented on #144
Completed.

[2022-07-03 15:13] #144 closed

[2022-07-05 14:55] avneesh0612 opened #164 "[FEATURE] 4C Blogs page"
### Description

Create a new page and add articles about/from the 4c community on that page. These should have a title, description, image and link to the article

### Screenshots

_No response_

[2022-07-09 13:12] theVatsal-eth opened #165 "Favicon Inconsistency"
The current favicon is not the same as the 4C logo. Changing it would make the website more consistent in terms of look and feel.

[2022-07-09 14:22] avneesh0612 commented on #165
yeah need to update the new logo. #159

[2022-07-21 05:28] VaarunSinha commented on #164
Can we get the figma file for this? would love to contribute.

[2022-07-21 05:29] VaarunSinha commented on #159
Where can I find the new logo?

[2022-07-21 16:14] SarjuHansaliya commented on #164
I can help here @avneesh0612

[2022-08-29 15:02] VaarunSinha opened #167 "The meta image of the website does not exist. | logo.jpg"
**Bug Description**
The meta tag points to /logo.jpg but logo.jpg does not exist.
<img width="1390" alt="Screenshot 2022-08-29 at 8 25 29 PM" src="https://user-images.githubusercontent.com/85062344/187231599-b7a93061-3106-42ec-9eb3-3944fc19f3da.png">
<img width="1377" alt="Screenshot 2022-08-29 at 8 27 24 PM" src="https://user-images.githubusercontent.com/85062344/187231607-260f7b0a-be9f-4427-a582

[2022-08-29 15:59] EpicAdidash commented on #167
do a pr

[2022-09-03 11:10] FrancescoXX opened #168 "[FEATURE] Add staff Members application form"
### Description

Add the Staff Members application

Please create a section on the website where people can apply as a new staff member

### Screenshots

_No response_

[2022-09-03 11:12] FrancescoXX opened #169 "Add FAQ Sections"
### Description

Add section with a FAQ

### Screenshots

_No response_

[2022-09-10 16:17] merouanezouaid commented on #169
I'll work on it!

[2022-09-10 16:45] merouanezouaid commented on #167
Done ✅

[2022-09-15 17:16] lovelacecoding opened #171 "Website in mobile view does not pass WCAG (Accessibility)"
**Bug Description**
The letter C that you can see multiple times in 'The **C**ool **C**ommunity of **C**ontent **C**eators' line does not pass the minimum contrast ratio for WCAG in mobile view. This is an accessibility issue for people that can't see the difference between blue shades well.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to '4c.rocks' on mobile or change browser ta

[2022-09-17 11:19] merouanezouaid commented on #171
Hello there 👋 @lovelacecoding

Thank you very much for these interesting facts about color accessibility!

For the issue, I tried to make the C letters lighter and it passes the WCAG AA

**Screenshot**

![wcag](https://user-images.githubusercontent.com/74367730/190853823-4afbea72-31b9-41db-9f29-c4ebd54b8703.PNG)

Is it acceptable or there are better than this?

[2022-09-17 12:49] #167 closed

[2022-09-18 07:27] TanmayBhosale commented on #164
Would love to contribute! @avneesh0612

[2022-09-18 16:18] Onyelaudochukwuka opened #173 "[FEATURE]Add Gradient to text"
### Description

I thought adding a gradient to the text will be a good idea making it cool 😎

only the text will be changed

### Screenshots

Current interface

![case study](https://user-images.githubusercontent.com/82924100/190917546-0d7787c5-b410-44c1-94bf-028a57924857.png)

Proposed interface

![Proposition](https://user-images.githubusercontent.com/82924100/190917332-4e7acc11-1bbb-4e56-944c-

[2022-09-18 16:21] Onyelaudochukwuka commented on #173
I'll like to be assigned the task if my proposition is welcomed

[2022-09-18 16:22] Onyelaudochukwuka commented on #164
Can i attempt the figma design

[2022-09-19 01:40] avneesh0612 commented on #164
hey @TanmayBhosale @Onyelaudochukwuka sure

[2022-09-19 03:45] TanmayBhosale commented on #164
Are there any designs ready?

Tanmay Bhosale

On Mon, Sep 19, 2022, 7:10 AM Avneesh Agarwal ***@***.***>
wrote:

[2022-09-19 05:07] Onyelaudochukwuka commented on #164
Ok I'll start working on that

[2022-09-19 05:40] LouellaCreemers commented on #171
That looks great. Thank you!

[2022-09-19 05:44] LouellaCreemers commented on #173
My vote goes to no because it makes the text inaccessible. It will be hard to read for people that are colorblind that have issues with blue shades.

[2022-09-19 05:47] Onyelaudochukwuka commented on #173
That's true
Thanks for the response

[2022-09-19 05:47] #173 closed

[2022-09-23 05:11] tobySolutions commented on #171
Thanks merouanezouaid. I have made the necessary changes

[2022-09-23 05:28] #171 closed

[2022-09-23 06:39] merouanezouaid commented on #171
You're welcome @tobySolutions !!

[2022-09-27 08:44] tobySolutions commented on #168
I think a form on the website will be better. We can use something like Formik, as long as the form is on our site.

[2022-09-27 12:56] tobySolutions commented on #165
Yeah, I think changing the "4c" on the nav to the 4c logo would be better.

![4c-site](https://user-images.githubusercontent.com/96334363/192532299-fb0abe05-cd1e-48da-bd59-409e567676c8.png)

[2022-09-27 16:19] merouanezouaid commented on #168
Cool, I think I'll work on that.. I need more details though and things to discuss :)

[2022-09-27 17:05] #159 closed

[2022-09-27 17:23] tobySolutions commented on #168
Do you think a meeting would be appropriate? Or should we just talk about
it on the website channel?

On Tue, 27 Sep 2022, 5:20 pm Merouane Zouaid, ***@***.***>
wrote:

[2022-09-29 10:05] merouanezouaid commented on #168
It'd be better if we can discuss it on the website channel on Discord

[2022-09-29 10:59] tobySolutions commented on #168
Sure!! that's a great idea!!

On Thu, Sep 29, 2022 at 11:05 AM Merouane Zouaid ***@***.***>
wrote:

[2022-10-01 10:50] AliReza1083 opened #175 "Animation"
### Description

Hi,
It'd be better to have animation in the Website.
What do you think?

### Screenshots

_No response_

[2022-10-01 11:37] tobySolutions commented on #175
Sounds perfect!!

On Sat, Oct 1, 2022 at 11:50 AM Ali Reza ***@***.***> wrote:

[2022-10-04 12:50] merouanezouaid commented on #175
Awesome idea!! We can implement different kinds of animations (Sections transitions , floating icons ..)

[2022-10-08 15:53] tobySolutions opened #178 "[FEATURE] Change the logo at the top of the website to a much cooler logo"
### Description

The White-squared 4c logo should be changed to a better-looking logo to improve the UI of the nav

### Screenshots

![4c issue](https://user-images.githubusercontent.com/96334363/194716179-d82ec0f3-7800-4da0-bdfd-c341d9d24607.png)

[2022-10-08 16:03] Areadrill commented on #178
Hi. Is the logo available? Or would this issue be to create the logo?

[2022-10-08 17:17] tobySolutions commented on #178
Yes, the logo should be created.

On Sat, Oct 8, 2022 at 5:03 PM João Mota ***@***.***> wrote:

[2022-10-08 17:39] anant-strong commented on #178
hey, @tobySolutions  i'd like to work on this issue, can you please assign it to me.

[2022-10-08 22:17] tobySolutions commented on #178
Done!! It's all yours, Anant!!

[2022-10-09 08:23] ShorunTech opened #179 "[FEATURE] Fixed Navbar"
### Description

The fixed Navbar will enable the user to navigate easily without scrolling through the navbar again.

### Screenshots

![Screenshot (172)](https://user-images.githubusercontent.com/61280687/194745922-f2a448cd-002f-4602-a5c8-ad2747ea3c12.png)
![Screenshot (171)](https://user-images.githubusercontent.com/61280687/194745927-6ce16c79-02b0-428e-b793-5a21b98ca7d2.png)

[2022-10-09 08:24] ShorunTech commented on #179
if assign, I can do that right away.

[2022-10-09 08:44] ShorunTech commented on #179
okay thanks on that.

[2022-10-09 09:03] ShorunTech commented on #179
Done

[2022-10-09 10:07] #165 closed

[2022-10-09 10:30] FrancescoXX opened #184 "[FEATURE] remove the old logo from the Readme and add the 4c banner instead"
### Description

1 remove the old logo
2 add the new 4C logo banner: https://github.com/FrancescoXX/4c-site/blob/main/4c_banner.jpg

### Screenshots

![image](https://user-images.githubusercontent.com/18360871/194751567-b352f990-0e59-41c0-9d76-4a177ff5833c.png)

[2022-10-09 10:32] FrancescoXX commented on #158
the link will not be in the readme but on the website itself. WE can add it to the readme too but the priority is the website

[2022-10-09 10:33] jsvigneshkanna commented on #184
Please assign this to my name, will work on it!

Appreciate that

[2022-10-09 10:36] codewithshubhi opened #185 "[DOCS] Add description of tech stack used in the README.md file"
### Description

We can add small media tags of the tech stack we are using in the description.

### Screenshots

_No response_

[2022-10-09 10:37] FrancescoXX commented on #164
Assigned to @Onyelaudochukwuka , everyone can contribute

[2022-10-09 10:38] FrancescoXX commented on #168
fixed by #176

[2022-10-09 10:38] #168 closed

[2022-10-09 10:39] codewithshubhi opened #186 "Folder containing media kit"
### Description

Can we have a separate folder containing branding and logos of 4C.

### Screenshots

_No response_

[2022-10-09 10:39] FrancescoXX commented on #169
Thank you @Roxie-32 for now we just need a page and we will start collecting questions

[2022-10-09 10:42] FrancescoXX commented on #178
@tobySolutions we already have the logo, you can use the circular one. will provide it

[2022-10-09 10:42] codewithshubhi opened #188 "Logo on the top right in readme file is old design"
### Description

I see we still have old logo in the top right corner is old one. PFA

### Screenshots

![image](https://user-images.githubusercontent.com/70970530/194752264-2fc7e975-098e-4707-8611-115e93482cad.png)

[2022-10-09 10:43] codewithshubhi commented on #188
Duplicate #184

[2022-10-09 10:43] #188 closed

[2022-10-09 10:47] codewithshubhi opened #189 "Typo in CONTRIBUTING.md"
### Description

We have [Code of Conduct][code-of-conduct] repeating in the same line. Not sure we should have twice.

### Screenshots

![image](https://user-images.githubusercontent.com/70970530/194752501-2fcb9cc6-b0c6-499e-b3a0-0380340d573d.png)

[2022-10-09 10:52] tobySolutions commented on #178
Perfect!! You can send it so I will update it now.

[2022-10-09 10:53] jsvigneshkanna commented on #189
@FrancescoXX / @codewithshubhi ,

The 2nd code-of-conduct should be the link to the code_of_conduct.md file

Proposed change:

[Code of Conduct](./CODE_OF_CONDUCT.md)

[2022-10-09 11:19] FrancescoXX opened #191 "[FEATURE] Readme logo repositioning"
### Description

please reposition the logo in the 4c readme.md

The file mist be like this one:

[code]

2.  Navigate to the cloned directory:

[code]

3.  Install dependencies:

[code]

4.  Run the project

[code]

## Contributing

All contributions are welcome. Learn more about contributing in the [CONTRIBUTING](./CONTRIBUTING.md) file.

Not sure what to contribute? Check out the [GitHub "contr

[2022-10-09 11:20] ShorunTech commented on #191
ok i will do that

[2022-10-09 11:24] FrancescoXX commented on #189
yes @jsvigneshkanna wanna fix it? nice catch @codewithshubhi

[2022-10-09 11:27] FrancescoXX opened #192 "[FEATURE] gitpodify the repo"
### Description

please add the option to deploy the project using gitpod

### Screenshots

_No response_

[2022-10-09 11:28] FrancescoXX commented on #175
it's ok but please keep this to the bare minimum and make it consistent across the website

[2022-10-09 11:29] jsvigneshkanna commented on #189
Please assign this to my name

[2022-10-09 11:31] codewithshubhi commented on #189
yes please go ahead @jsvigneshkanna

[2022-10-09 11:32] FrancescoXX opened #194 "[FEATURE] mediakit folder"
### Description

add a folder called mediakit and put the 4c_banner file inside.

file link

https://github.com/FrancescoXX/4c-site/blob/main/4c_banner.jpg

### Screenshots

_No response_

[2022-10-09 11:33] anant-strong commented on #178
hey, @tobySolutions I've also designed a logo, but if Francesco already has the logo can you help me to update it, as it will be my first contribution?

[2022-10-09 11:46] tobySolutions commented on #175
Of course!! I added some minor page transition animations with framer-motion two days ago. Subsequent animations can be added with Framer motion as well.

[2022-10-09 11:51] FrancescoXX opened #197 "[FEATURE] update mediakit/readme.md file"
### Description

Please replace the current line with

[code]

to fix the bad formatting

### Screenshots

_No response_

[2022-10-09 11:51] DivvSaxena commented on #197
assign it to me

[2022-10-09 11:53] FrancescoXX opened #198 "[FEATURE] check and update dependencies versions"
### Description

check the dependencies in **package.json** and update to the latest versions.

![image](https://user-images.githubusercontent.com/18360871/194755379-1cc968e9-d58a-4cd3-a7ce-eba0bfe1b096.png)

### Screenshots

_No response_

[2022-10-09 11:55] ShorunTech commented on #198
i will work it

[2022-10-09 11:57] DivvSaxena commented on #197
#200

[2022-10-09 12:04] FrancescoXX commented on #189
closed by #195

[2022-10-09 12:04] #189 closed

[2022-10-09 12:07] FrancescoXX opened #201 "[FEATURE] add an FAQ button"
### Description

add an FAQ button next to "Contributors", same style

### Screenshots

_No response_

[2022-10-09 12:08] FrancescoXX opened #202 "[FEATURE] add an empty FAQ page"
### Description

add an empty FAQ page similar to the contributors' one

### Screenshots

_No response_

[2022-10-09 12:08] ShorunTech commented on #201
let me go for this

[2022-10-09 12:18] #197 closed

[2022-10-09 12:21] FrancescoXX opened #203 "Fix contributors page transition"
**Bug Description**
fix contributors page transition

![image](https://user-images.githubusercontent.com/18360871/194756540-e82c74c4-78ca-46ba-bb03-22de8a67b696.png)

[2022-10-09 12:24] FrancescoXX opened #204 "[FEATURE] add a projects button"
### Description

Add a projects button on the main navbar
![image](https://user-images.githubusercontent.com/18360871/194756640-73287d58-a5f1-40d8-aea1-fbdd46b7f53b.png)

### Screenshots

_No response_

[2022-10-09 12:25] FrancescoXX opened #205 "[FEATURE] add an empty Projects page"
### Description

add an empty "Projects" page

### Screenshots

_No response_

[2022-10-09 12:27] FrancescoXX commented on #178
the logo is here https://github.com/FrancescoXX/4c-site/blob/main/mediakit/4c-logo-circle.png

[2022-10-09 12:28] FrancescoXX commented on #191
fixed by #193

[2022-10-09 12:28] #191 closed

[2022-10-09 12:28] anant-strong commented on #178
thanks @FrancescoXX I'll do it

[2022-10-09 12:28] FrancescoXX commented on #194
closed by #196

[2022-10-09 12:28] #194 closed

[2022-10-09 12:29] FrancescoXX commented on #186
done by #196

[2022-10-09 12:29] #186 closed

[2022-10-09 12:31] DivvSaxena commented on #205
assign it to me

[2022-10-09 12:38] jsvigneshkanna commented on #204
Assign to my name @FrancescoXX

[2022-10-09 12:39] FrancescoXX opened #208 "[FEATURE] rename "Contributors" to "Active Members""
### Description

rename
- "Contributors" to "Active Members" on the labels
-  "Contributors" to ActiveMembers in file names and in code

optional: just change the label on the website

ignore the update_contributors.js file as it will be deleted

### Screenshots

_No response_

[2022-10-09 12:40] FrancescoXX opened #210 "[FEATURE] remove the update_contributors.js file"
### Description

Remove the update_contributors.js file in

https://github.com/FrancescoXX/4c-site/blob/main/scripts/update_contributors.js

### Screenshots

_No response_

[2022-10-09 12:45] yash251 commented on #204
added button with path "/projects"

[2022-10-09 12:45] #204 closed

[2022-10-09 12:56] jsvigneshkanna commented on #208
@FrancescoXX Please assign this to my name

[2022-10-09 12:58] FrancescoXX commented on #169
the page is being created, so this issue is more about collecting the questions and add them to the section

[2022-10-09 13:01] ShorunTech commented on #210
i will work on this now

[2022-10-09 13:03] anuragh2002 commented on #185
Hey @codewithshubhi I would like to work on this issue. Can you please tag this issue for hacktoberfest and assign it to me?

[2022-10-09 13:07] Roxie-32 commented on #169
Exactly what I was going to ask. Where exactly do I find these questions...do we have a community somewhere where I could reach out to members and see what their FAQs will be or do you need me to think and curate what FAQs will be for content creators?
@FrancescoXX

YOu could also share common questions you get since you own the project, I am sure yo get questions a lot. Then I will curate the lis

[2022-10-09 13:11] ShorunTech commented on #210
do you mean to delete the complete file of update_contributors.js

[2022-10-09 13:16] FrancescoXX commented on #210
yes and also check if the project still works, remove all the dependencies on this

[2022-10-09 13:19] FrancescoXX commented on #202
closed by #213

[2022-10-09 13:19] #202 closed

[2022-10-09 13:21] FrancescoXX commented on #203
fixed by #206

[2022-10-09 13:21] #203 closed

[2022-10-09 13:32] Njong392 commented on #192
:think: Could i try working on this?

[2022-10-09 13:33] FrancescoXX opened #215 "icon moving when clicking the "contributors page""
**Bug Description**
when you click the contributors' page, the icons are moving for a while

**Steps to Reproduce**
- go on 4c.rocks
- click the contributors' button

[2022-10-09 13:36] FrancescoXX opened #216 "[FEATURE] add a footer to the website"
### Description

add a footer component to the website

### Screenshots

_No response_

[2022-10-09 13:38] FrancescoXX opened #217 "[FEATURE] add a Blog button"
### Description

add a Blog button on the top Navbar

It should look similar to the one in the screenshot

![image](https://user-images.githubusercontent.com/18360871/194760031-ec97edcf-f024-4f0f-b5d5-bb722eead18d.png)

### Screenshots

_No response_

[2022-10-09 13:39] tobySolutions commented on #215
Assign this to me.

[2022-10-09 13:39] InHuOfficial opened #218 "The Blue "C"s in the main title are not high enough Contrast"
**Bug Description**
![4C website home screen title text](https://user-images.githubusercontent.com/81360444/194759977-cd7f4456-cb0a-423e-b3c0-f0c2761924c0.png)

The "C"s here are not high enough contrast, they must have a contrast of at least 3:1 and are currently 2.6:1 at the top due to the gradient background.

**Suggested fix**
Change the colour for `.text-theme` to #92c0f8

![4C website homepa

[2022-10-09 13:41] FrancescoXX commented on #184
fixed by #187

[2022-10-09 13:41] #184 closed

[2022-10-09 13:41] Njong392 commented on #217
Could I be assigned to this please?

[2022-10-09 13:43] FrancescoXX commented on #218
please refer to the official brand colors here
![image](https://user-images.githubusercontent.com/18360871/194760240-2dbad48c-daff-4aff-a850-1de4100a09f1.png)

[2022-10-09 13:43] InHuOfficial opened #219 "Add a generic "coming soon" page template [good first issue]"
We currently have 2 buttons that lead to 404 pages as they have not been created yet.

Someone should create a "coming soon" page just so we don't have to show a 404 page.

[2022-10-09 13:47] InHuOfficial opened #220 "Buttons for navigation should be anchors [A11y][Good First Issue]"
Currently the navigation uses buttons to activate the navigation.

As these affect navigation they should be actual links (anchors) for accessibility.

### SUggested

Change from:
[code]

To:
[code]

Repeat adding relevant hyperlinks for each menu item.

### Bonus points
You should wrap the anchors in `<li>` to ease navigation for screen reader users (as it states how many items there are in the l

[2022-10-09 13:48] FrancescoXX opened #221 "[DOCS] Add Brand file and add brand palette color"
### Description

- create a file named BRAND.md
- add the colors to be used as a community brand, accordingly to the pic below

Hex codes

#030e2c
#718fe9
#5fbec4
#49127b
#708fe6

Font: Poppins Bold

![image](https://user-images.githubusercontent.com/18360871/194760349-8c84763c-451f-4fc5-a261-486f490b4d80.png)

[2022-10-09 13:49] FrancescoXX commented on #218
putting the C as whit is also an easy solution

[2022-10-09 13:50] FrancescoXX commented on #219
we have already 2 issues on this :)

but having a coming soon page is nice to have

[2022-10-09 13:50] yash251 opened #223 "Capitalize title in navbar"
**Bug Description**
"Faq" should be renamed to "FAQ"

[2022-10-09 13:53] FrancescoXX commented on #158
please refer to this folder
https://github.com/FrancescoXX/4c-site/tree/main/mediakit

[2022-10-09 13:54] FrancescoXX commented on #158
@sumitsaurabh927 we need help here

[2022-10-09 13:55] FrancescoXX commented on #164
please keep it simple.

[2022-10-09 13:56] FrancescoXX commented on #169
yes the community is here
https://discord.com/invite/JZ2btyTfzQ

[2022-10-09 13:57] FrancescoXX commented on #175
let's stop all the animations for now and focus more on design

[2022-10-09 13:57] #175 closed

[2022-10-09 13:57] FrancescoXX commented on #178
fixed by #222

[2022-10-09 13:57] #178 closed

[2022-10-09 13:58] codewithshubhi commented on #185
Go @anuragh2002

[2022-10-09 14:08] codewithshubhi commented on #221
Assign me @FrancescoXX

[2022-10-09 14:09] codewithshubhi commented on #220
Assign it to me @FrancescoXX :)

[2022-10-09 14:09] FrancescoXX commented on #221
go!

[2022-10-09 14:10] jsvigneshkanna commented on #219
@FrancescoXX , please assign to my name

[2022-10-09 14:12] anant-strong commented on #223
hey @FrancescoXX  can you assign me this issue, i'll do it

[2022-10-09 14:13] FrancescoXX commented on #223
done by #224

[2022-10-09 14:13] #223 closed

[2022-10-09 14:18] khazifire opened #228 "[FEATURE] Add a custom 404 page"
### Description

When a user lands on a 404 page, it should redirect them back to the homepage

### Screenshots

_No response_

[2022-10-09 14:19] khazifire opened #229 "[FEATURE] Clicking on the 4C logo should link to homepage"
### Description

when a user clicks on the 4C logo, it should take them to the homepage

### Screenshots

_No response_

[2022-10-09 14:21] ShorunTech commented on #229
I WILL WORK ON THIS

[2022-10-09 14:21] FrancescoXX commented on #229
the cursor should look like a pointer too

[2022-10-09 14:22] ShorunTech commented on #229
NICE ONE

[2022-10-09 14:23] FrancescoXX commented on #192
fixed on #227

[2022-10-09 14:23] #192 closed

[2022-10-09 14:26] yash251 commented on #228
Issue to create a "comimg soon" page is created

[2022-10-09 14:27] FrancescoXX commented on #228
duplicated #219

[2022-10-09 14:27] #228 closed

[2022-10-09 14:27] anant-strong commented on #208
hey @FrancescoXX  can i take this issue

[2022-10-09 14:37] yash251 opened #235 "Approve deployment solution for Vercel"
### Description

@FrancescoXX  refer to

https://vercel.com/docs/concepts/git/vercel-for-github

### Screenshots

_No response_

[2022-10-09 14:38] codewithshubhi opened #237 "File for automating 4C Tweets"
### Description

Can we have a md file containing tweets idea for 4C (if needed )

### Screenshots

_No response_

[2022-10-09 14:44] FrancescoXX commented on #235
sending issues instead of DMS 😂😂😂

but thank you

[2022-10-09 14:44] #235 closed

[2022-10-09 14:46] tobySolutions opened #240 "[FEATURE] Mobile View Of Nav Doesn't look Good"
### Description

![Mobile-view of Nav](https://user-images.githubusercontent.com/96334363/194763286-b27de40a-82c6-43b1-bf12-01a2747f8053.png)

### Screenshots

_No response_

[2022-10-09 14:49] tobySolutions commented on #240
@vivekpal1, do you want to take this?

[2022-10-09 14:53] FrancescoXX commented on #208
label fixed, please update the coding part

[2022-10-09 14:57] jsvigneshkanna commented on #218
@FrancescoXX , please assign this issue to my name, will work on it!

[2022-10-09 14:58] yash251 opened #241 "[FEATURE] add pointer"
### Description

When we click on the 4C logo on the main website, the cursor should be pointer

[2022-10-09 14:59] tobySolutions commented on #215
This Issue has been fixed @FrancescoXX by yours truly. 😁😁. Closing this now.

[2022-10-09 15:00] FrancescoXX commented on #241
yes please, assigned to you

[2022-10-09 15:00] yash251 commented on #241
yes

[2022-10-09 15:01] FrancescoXX commented on #240
we need a proper mobile navigation :)

[2022-10-09 15:01] yash251 opened #242 "Github start button went on another line"
**Bug Description**
Github start button went on another line

[2022-10-09 15:02] FrancescoXX commented on #237
great idea, but this is not relevant to the website, so the proper way to talk about this is in the discussion-forum in the discord server :)

https://discord.com/channels/784142072763383858/1019664182922182770

[2022-10-09 15:02] #237 closed

[2022-10-09 15:03] yash251 commented on #242
<img width="566" alt="Screenshot 2022-10-09 at 8 33 26 PM" src="https://user-images.githubusercontent.com/47234407/194764153-8638ce79-1176-497d-b49e-4b08aec69e13.png">

[2022-10-09 15:05] FrancescoXX commented on #242
![image](https://user-images.githubusercontent.com/18360871/194764219-37840785-bc1c-42c7-bad2-354b829603c9.png)

noticed now

[2022-10-09 15:06] #215 closed

[2022-10-09 15:11] jsvigneshkanna commented on #242
@FrancescoXX , Please assign this is to me, found the isse

[2022-10-09 15:18] FrancescoXX commented on #219
closed by #239

[2022-10-09 15:18] #219 closed

[2022-10-09 15:18] FrancescoXX commented on #210
closed by #233

[2022-10-09 15:18] #210 closed

[2022-10-09 15:19] #201 closed

[2022-10-09 15:20] FrancescoXX commented on #218
closed by #243

[2022-10-09 15:20] #218 closed

[2022-10-09 15:22] #221 closed

[2022-10-09 15:23] #242 closed

[2022-10-09 15:25] FrancescoXX commented on #185
@anuragh2002 you can discuss this in the 4c community channel

[2022-10-09 15:26] #229 closed

[2022-10-09 15:33] FrancescoXX commented on #205
fixed by #246

[2022-10-09 15:33] #205 closed

[2022-10-09 15:35] FrancescoXX opened #247 "[FEATURE] Create an Empy BLOG page"
### Description

it should look like this.

refer to project files to copy the structure

![image](https://user-images.githubusercontent.com/18360871/194765718-f9730767-5c11-4ada-88a0-ba2f395cad4a.png)

### Screenshots

_No response_

[2022-10-09 15:35] DivvSaxena commented on #247
will take it

[2022-10-09 15:39] DivvSaxena commented on #247
#248

[2022-10-09 15:43] FrancescoXX opened #249 "[FEATURE] create FAQ page structure"
### Description

Create the FAQ page structure

Title
question
answer

put this example question with the answer.

**1. What does "4C" stands for?**
4C stands for "Cool Community of Content Creators"

please test it on mobile before making the PR

### Screenshots

![image](https://user-images.githubusercontent.com/18360871/194766071-4e82a4ef-51df-41f4-815c-23e5936f814f.png)

[2022-10-09 15:47] tobySolutions commented on #198
Oh!! The issue has been assigned to Shoron

[2022-10-09 15:48] FrancescoXX commented on #198
@ShorunTech please tell if you want to work on this or pass this to @tobySolutions

[2022-10-09 15:49] ShorunTech commented on #198
I will work on it

[2022-10-09 16:13] Tiansing commented on #249
I can work with this, can you assign it to me?

[2022-10-09 16:25] FrancescoXX opened #251 "[FEATURE] Project Page structure"
### Description

We want to highlight the PROJECTS of the members of the 4C Community.

We need a separate page with a structure similar to the Active Members, but with projects instead of people.

every card will have:
- image
- link
- title
- description (tooltip)

projects will be taken from the
https://github.com/FrancescoXX/4c-site/blob/main/PROJECTS.md

please make a sample structure with so

[2022-10-09 16:26] AryanBabber commented on #251
I want to contribute in the samples for now...

[2022-10-09 16:29] devvsakib commented on #251
i want to contribute

[2022-10-09 16:29] FrancescoXX commented on #217
@Njong392 please let us know if you want to work on this :)

[2022-10-09 16:32] tobySolutions commented on #251
Let's work on this together guys!!

[2022-10-09 16:34] FrancescoXX commented on #251
nice team!

[2022-10-09 16:35] Neeleshrj commented on #240
Do you want me to work on this? @FrancescoXX

[2022-10-09 16:36] tobySolutions commented on #251
Let's have our discussions on the server guys!!

[2022-10-09 16:37] Njong392 commented on #217
I'd be happy to 😊

[2022-10-09 16:39] FrancescoXX commented on #251
perfect @tobySolutions , the discord is to chat in an easy way, and here we will talk more about the coding part and decision made

[2022-10-09 16:45] FrancescoXX commented on #247
fixed by #250

[2022-10-09 16:45] #247 closed

[2022-10-09 16:47] FrancescoXX commented on #208
![image](https://user-images.githubusercontent.com/18360871/194769210-e74a43b4-4b12-4088-b1d1-290f111b04ee.png)

please remember to change the label in the page

[2022-10-09 16:48] FrancescoXX commented on #179
we need design support here, it doesn't look allright

[2022-10-09 16:51] ShorunTech commented on #179
I can look into that, the background color need to be change, and some other stuff.

[2022-10-09 18:12] classyrazy commented on #241
Can I work on this?

[2022-10-09 22:59] devBayo commented on #240
Can you assign this to me, I'll fork right away.

[2022-10-10 09:20] devBayo commented on #240
Thank you, I'll make changes now.

[2022-10-10 10:00] AryanBabber opened #254 "[DOCS] Problem with running the website after cloning"
### Description

There seems to be a problem when I run the website on my PC using the commands given in the [readme.md](https://github.com/FrancescoXX/4c-site/blob/main/README.md). It throws an error stating that **PWA support is disabled**

### Screenshots

![image](https://user-images.githubusercontent.com/86878236/194841144-ec5a8391-e927-42a4-a86a-49d58d5b583a.png)

[2022-10-10 10:22] devvsakib commented on #249
I can but my code not working, did everything, and followed readme file instruction but when I update the code, the website not updating @FrancescoXX  😢

[2022-10-10 11:10] lmssr commented on #249
Hey, can I work on it ?

[2022-10-10 16:42] devvsakib commented on #249
PR done

[2022-10-10 17:53] devvsakib commented on #241
its done

[2022-10-10 17:55] AryanBabber commented on #254
Thanks man 😊

[2022-10-10 17:58] devvsakib commented on #216
assign me

[2022-10-10 18:05] vivekpal1 opened #261 "[Github Organization] It will be amazing if you create a Github Organization for 4C community."
### Description

- We will be having our amazing projects there
- It will be helpful for Web3 Open Source Developers and Beginners

### Screenshots

_No response_

[2022-10-10 19:47] ShorunTech commented on #240
DevBayo are you making progress on the mobile view, let me know because am working on the navbar.

And both go hand in hand, I mean the navbar and the mobile view.

if you are having any challenge let me know.

[2022-10-10 20:42] Balastrong commented on #261
There is already a @4C-Community org, even though I'm not sure what @FrancescoXX plans are... maybe he can let us know :)

[2022-10-10 21:28] Njong392 commented on #254
After step 3, it says `node: --openssl-privacy-provider is not allowed in NODE_OPTIONS` and does not run the server

[2022-10-10 21:42] Njong392 opened #263 "[DOCS] Add instruction in README to fork"
### Description

I think it's worth noting in the project README that a user needs to fork the repository before cloning it. How's that? Because I think cloning this repo directly would need some specific permissions when it comes to pushing :shrug: Any thoughts on this?

### Screenshots

_No response_

[2022-10-10 21:57] Njong392 opened #264 "Proposal to squash commits on merge"
### Description

This is what the commit/merge graph of the project currently looks like

![Screenshot from 2022-10-10 22-45-21](https://user-images.githubusercontent.com/81039882/194957340-76fb3d33-0722-40eb-8f61-a9b92716a50e.png)

To keep a good/neat commit history, I propose that commits are squashed when merging pull requests. By bundling commits in a pull request into one, it makes it easy to

[2022-10-10 23:17] classyrazy commented on #263
I think it's available in [CONTRINUTING.md](https://github.com/FrancescoXX/4c-site/blob/main/CONTRIBUTING.md) file

[2022-10-11 04:29] devvsakib commented on #254
try again by doing

unset NODE_OPTIONS=""
this should fix

[2022-10-11 06:46] Njong392 commented on #263
We might as well move all the instructions in the README to the CONTRIBUTING.md file. The README is the first thing people see when they come to the page. I think that the instructions should first be on the README, and then detailed steps of the instructions should be in the Contributing.md file.

If the maintainers agree with this, I'd like to work on the issue 😊

[2022-10-11 09:15] #241 closed

[2022-10-11 09:17] yash251 commented on #216
@devvsakib ask for issues that aren't assigned. Please follow the guidelines

[2022-10-11 11:34] devBayo commented on #240
Oh, can you conclude yours then?
So I can just work on the responsiveness when you're done.

[2022-10-11 11:40] ShorunTech commented on #240
ok then

[2022-10-11 17:01] #169 closed

[2022-10-11 17:02] FrancescoXX commented on #264
yes it looks cleaner

[2022-10-11 17:02] #264 closed

[2022-10-11 17:03] #261 closed, assigned to nobody

[2022-10-11 17:03] FrancescoXX commented on #263
go for it @Njong392

[2022-10-11 17:04] FrancescoXX commented on #254
we should add this procedure on the Readme.md anoyne wanna fix this?

[2022-10-11 17:05] FrancescoXX commented on #249
solved by #259

[2022-10-11 17:05] #249 closed

[2022-10-11 17:10] #217 closed

[2022-10-11 17:12] FrancescoXX commented on #216
@yash251 you showed the footer on discord but I can't see your PR

[2022-10-11 17:13] FrancescoXX opened #267 "[FEATURE] add automatic release versioning github action"
### Description

please add a GitHub action to track the versioning of this project.

### Screenshots

_No response_

[2022-10-11 17:14] #208 closed

[2022-10-11 17:19] FrancescoXX opened #268 "[FEATURE] add video section"
### Description

please add a section called "Video".

It should look like the one in the screenshot below

### Screenshots

![Uploading image.png…]()

[2022-10-11 17:19] FrancescoXX commented on #268
![image](https://user-images.githubusercontent.com/18360871/195157900-e608d5e7-236e-4fb0-b491-ab2b7a95d187.png)

[2022-10-11 17:20] InHuOfficial opened #269 "Page slugs / URLs should be hyphenated and lower case"
We currently have the page "4c.rocks/**activeMembers**"

This is not a good practice in web development, we should change it to the accepted standard of lower case letters separated with hyphens.

## Suggested fix
URLs should read:

- 4c.rocks/active-members
- 4c.rocks/faq
- 4c.rocks/projects (correct)
- 4c.rocks/blog

etc.

[2022-10-11 17:20] FrancescoXX commented on #268
please call it "Videos"

[2022-10-11 17:21] DivvSaxena opened #270 "add a Squared logo"
### Description

 add a Squared logo in 4C

### Screenshots

_No response_

[2022-10-11 17:22] jsvigneshkanna commented on #268
Please assign this to my name @FrancescoXX , will add new page

[2022-10-11 17:22] FrancescoXX opened #271 "[FEATURE] add videos Button"
### Description

Please add a button called "Videos"

![image](https://user-images.githubusercontent.com/18360871/195158276-92239239-3e93-4f20-803c-99d394a8eecf.png)

### Screenshots

_No response_

[2022-10-11 17:23] devvsakib commented on #269
assign me

[2022-10-11 17:23] devvsakib commented on #268
i can

[2022-10-11 17:27] #270 closed

[2022-10-11 17:30] FrancescoXX opened #273 "[FEATURE] <description>"
### Description

dependant on  #268

add an embeded video (use any video for now)

this can help
https://www.youtube.com/watch?v=LH7LPMXv8Lg

### Screenshots

_No response_

[2022-10-11 17:30] devvsakib commented on #271
assign me

[2022-10-11 17:37] jsvigneshkanna commented on #273
PR #274 implemented this feature with video section page

[2022-10-11 17:40] FrancescoXX opened #275 "[FEATURE] Improve the Readme.md file"
### Description

the Readme.md contains some info but many are missing.

this issue is for someone who knows the 4C community well

### Screenshots

_No response_

[2022-10-11 17:49] FrancescoXX opened #276 "[FEATURE] check the .husky folder and remove it if not necessary anymoret"
### Description

PLease check this old dependency and please confirm it can be safely removed

https://github.com/FrancescoXX/4c-site/tree/main/.huskyPlease

### Screenshots

_No response_

[2022-10-11 17:53] FrancescoXX commented on #164
we have a blog section, please populate it with blog examples

https://www.4c.rocks/Blog

you can get inspiration here. keep it simple and don't focus on design for now
https://4c-site-git-fork-devvsakib-devvsakib-main-francescoxx.vercel.app/contributors

[2022-10-11 17:54] devvsakib commented on #164
add me

[2022-10-11 17:55] Onyelaudochukwuka commented on #164
I'll

[2022-10-11 18:00] FrancescoXX opened #277 "[FEATURE] add an "Activities" Button + Section"
### Description

Please add an additional section for 4c activities

If you want, you can add a section similar to "Active Members"

![image](https://user-images.githubusercontent.com/18360871/195165528-856be558-9d49-42f4-b25f-2bb5ce9fdaea.png)

### Screenshots

_No response_

[2022-10-11 18:01] jsvigneshkanna commented on #277
Please assign me this feature, will implement

[2022-10-11 18:35] Njong392 commented on #275
Just for asking, is there any particular type of information that should be added to the README that is related to 4C?

[2022-10-11 20:31] Onyelaudochukwuka commented on #164
You Can track progress at [https://www.figma.com/file/H1V6dyeJkGioUKiZGyPiGE/Untitled?node-id=2%3A2](https://www.figma.com/file/H1V6dyeJkGioUKiZGyPiGE/Untitled?node-id=2%3A2)

Leaving the header out.
Since that's already set in the layout.
P.S my gradient is a bit off

[2022-10-12 10:01] Onyelaudochukwuka commented on #164
@FrancescoXX @avneesh0612 and everyone else i'll appreciate feedbacks¥

[2022-10-12 10:16] devBayo commented on #240
@ShorunTech  what's the status?

[2022-10-12 10:22] ShorunTech commented on #240
Almost done with it, let’s discuss on discord channel.

[2022-10-13 02:34] baroonjha commented on #254
Can you assign me this  Francesco.

[2022-10-13 05:53] neutr0n420 opened #283 "When you hover over the github star button it just changes the color"
**Bug Description**
As we hover over the navbar another button in the navbar there we can see the other hover effect while we clicked on the `star` button it just change. It looks odd.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Go to '(main-website)[https://www.4c.rocks/]'
2. Hover over the `star` button

**Expected behavior**
It should also show a similar hover effect to other b

[2022-10-13 10:46] devvsakib commented on #283
hi its not a bug. its because of embedded from github

because it's a widget. maybe we are going to add this button on the footer. not sure, just heard from Francesco

[2022-10-13 10:47] devvsakib commented on #283
@neutr0n420 because it's a widget. maybe we are going to add this button on the footer. not sure, just heard from Francesco

[2022-10-13 16:45] jsvigneshkanna opened #285 "[FEATURE] Projects cards"
### Description

We can make card like feature for projects same as contributors cards
The projects details can be fetched from project.json file

Enhancement can be added for the cards styling using tailwind

### Screenshots

![image](https://user-images.githubusercontent.com/42484705/195656397-09d950a4-d3f9-4df6-9d70-e20fe371b8b9.png)

[2022-10-13 16:48] jsvigneshkanna opened #286 "[FEATURE] Faq page enhancement"
### Description

We can enhance the FAQ page with tailwind CSS's accordion show as below screenshot

### Screenshots

![image](https://user-images.githubusercontent.com/42484705/195656910-2994628d-f4e0-407a-b483-bf5926dc97b3.png)

[2022-10-13 16:51] FrancescoXX opened #287 "[FEATURE] remove the GitHub stars widget"
### Description

Please remove this widget. it will be turned into a simple github icon to positon at the top or at the bottom

![image](https://user-images.githubusercontent.com/18360871/195657325-0fe599e4-5bc9-4c9b-b9dc-581d6cb03705.png)

### Screenshots

_No response_

[2022-10-13 16:51] DivvSaxena commented on #287
i will do it

[2022-10-13 16:51] FrancescoXX commented on #283
closing this as we are removing the github star widget

[2022-10-13 16:51] #283 closed

[2022-10-13 16:52] FrancescoXX commented on #285
who want to work on this?

[2022-10-13 16:53] FrancescoXX commented on #286
I like this. please go on

[2022-10-13 16:53] jsvigneshkanna commented on #285
Hi @FrancescoXX ,

I can take this

[2022-10-13 16:54] FrancescoXX commented on #267
sure

[2022-10-13 16:55] FrancescoXX commented on #275
we should talk about the project itself and a bit about the community. any improvement is welcome

[2022-10-13 16:55] #271 closed

[2022-10-13 16:55] #269 closed

[2022-10-13 16:56] FrancescoXX commented on #254
sure thnaks

[2022-10-13 16:57] FrancescoXX commented on #286
thanks

[2022-10-13 16:58] FrancescoXX commented on #287
LFG

[2022-10-13 17:10] jsvigneshkanna opened #289 "[FEATURE] Fixed footer"
### Description

Need to make footer fixed postioned to bottom as it has bottom margins in big screens (width > 1400px)

Please assign this issue to my name, will fix it

### Screenshots

![image](https://user-images.githubusercontent.com/42484705/195661965-83bd671b-ee5c-4b0c-ba9f-774497d031df.png)

[2022-10-13 18:01] devvsakib opened #291 "[FEATURE] Fixing some issues"
### Description

### YouTube video on mobile version is breaking website.
![image](https://user-images.githubusercontent.com/88339569/195670295-e1ac9ed1-b547-4aa9-97b4-0638bb542ac6.png)

Fixed:
![image](https://user-images.githubusercontent.com/88339569/195670767-125bced1-9a7d-4aa4-9e4b-a91ccfaab8a3.png)
<br><br>
### **Faq Font size was very small:**
![image](https://user-images.githubusercontent.

[2022-10-13 19:30] FrancescoXX opened #292 "BUG: format error"
**Bug Description**
error during the automatic build

**Steps to Reproduce**
clone locally
install dependencies
run `npm run format:check`

**Expected behavior**
it should run without any error

**Actual behavior**
when running npm run format:check command there is an error

**Screenshots/Recordings**
![image](https://user-images.githubusercontent.com/18360871/195691785-5261b16e-8291-4682-bfd6-4a3

[2022-10-13 19:41] tobySolutions commented on #292
Can I be assigned to this Francesco?

[2022-10-13 20:15] tobySolutions commented on #292
![4c](https://user-images.githubusercontent.com/96334363/195700230-3a515540-1350-4add-993f-56f3183ad860.png)

I'm not getting the errors.

[2022-10-13 21:16] Arijit1000 commented on #275
@Njong392 Any idea how to improve the README file? @FrancescoXX Can I give a brief description of the project, and how it would be helpful for all the developers out there?

[2022-10-13 22:45] tobySolutions commented on #292
I didn't get the same error on replication

[2022-10-13 22:52] tobySolutions opened #293 "Improper Footer Positioning"
**Bug Description**
Improper Footer Position

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to  the 4c.rocks/blog

**Expected behavior**
The Footer on the blog page should be properly positioned at the bottom

**Actual behavior**

![footer-on-blog](https://user-images.githubusercontent.com/96334363/195724932-1a25aeb4-0ad9-4b0c-99b0-1e539db8eb61.png)

[2022-10-13 23:02] codeboyfriend commented on #293
Can I work on it

[2022-10-14 02:40] jsvigneshkanna commented on #293
Hi @tobySolutions
We have already an issue for this #289

[2022-10-14 05:03] devvsakib commented on #293
fixed, issue #291

[2022-10-14 05:08] devvsakib commented on #291
@tobySolutions  check please

[2022-10-14 05:29] tobySolutions commented on #293
Thanks @jsvigneshkanna. I'll close the issue now.

[2022-10-14 05:31] tobySolutions commented on #291
Let me check

[2022-10-14 05:31] tobySolutions commented on #291
I don't see your PR @devvsakib

[2022-10-14 05:32] #293 closed

[2022-10-14 05:35] devvsakib commented on #291
done, please check #294

[2022-10-14 17:09] DivvSaxena commented on #287
made the PR #297

[2022-10-14 17:25] undefined-box commented on #292
Ciao @FrancescoXX, the problem was caused by unformatted files; i believe someone didn't call the `npm run pre-commit` command before committing.

Incoming pull request with formatted files! 😄

[2022-10-15 10:42] tobySolutions commented on #198
closed with #302

[2022-10-15 10:42] tobySolutions commented on #198
closed with #302

[2022-10-15 10:42] #198 closed

[2022-10-15 10:44] tobySolutions commented on #240
Perfect!!

[2022-10-15 10:49] tobySolutions opened #303 "Improper Footer Positioning"
**Bug Description**
The Footer isn't properly positioned, it keeps jumping around.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to '4c.rocks/blog'
2. You'll see the displaced Footer

**Expected behavior**
The footer should be properly positioned at the bottom of every page
![blogs-page](https://user-images.githubusercontent.com/96334363/195982446-3564241f-049c-4c73-beb6-e2af5dd4b

[2022-10-15 10:50] ranjankuldeep commented on #303
assign it to me.
@tobySolutions

[2022-10-15 17:58] devvsakib commented on #303
i already have a pr. please check #294

[2022-10-16 06:23] AliReza1083 commented on #303
If there were data there, It'd be fixed...
We just need to add something there.

[2022-10-16 07:31] FrancescoXX opened #306 "[FEATURE] add package-lock.json to the .gitignore"
### Description

please add the package-lock.json file to the gitignore

### Screenshots

_No response_

[2022-10-16 07:33] #277 closed

[2022-10-16 07:36] #267 closed

[2022-10-16 07:37] FrancescoXX commented on #291
very nice pr!

[2022-10-16 07:45] tobySolutions opened #307 "[FEATURE] Use Becca To Get All The Active Members"
### Description

Use Becca To Get All The Active Members to update the active members page.

### Screenshots

![active-members](https://user-images.githubusercontent.com/96334363/196024249-5b40754a-417b-45df-bd74-479c72aa0c94.png)

[2022-10-16 08:00] FrancescoXX commented on #158
done

[2022-10-16 08:00] #158 closed

[2022-10-16 08:03] FrancescoXX commented on #179
for now, we need to design the navbar, so closing this one

[2022-10-16 08:03] #179 closed

[2022-10-16 08:04] FrancescoXX commented on #216
done

[2022-10-16 08:04] #216 closed

[2022-10-16 08:04] FrancescoXX commented on #220
hey @codewithshubhi , do you still want to work on this? :)

[2022-10-16 08:05] FrancescoXX commented on #240
wee need an update on this @tobySolutions , please sync with the design team

[2022-10-16 08:05] DivvSaxena opened #308 "4C site Active Members needs to be Updated!"
### Description

We need to Update it.

### Screenshots

![image](https://user-images.githubusercontent.com/111836493/196025176-0459e8fa-41e9-4165-a90a-70fc9efd1257.png)

[2022-10-16 08:06] FrancescoXX commented on #251
done! well done everyone!

[2022-10-16 08:06] #251 closed

[2022-10-16 08:07] FrancescoXX commented on #254
done

[2022-10-16 08:07] #254 closed

[2022-10-16 08:07] FrancescoXX commented on #286
done

[2022-10-16 08:07] #286 closed

[2022-10-16 08:07] FrancescoXX commented on #263
@Njong392 do you still want to work on this?

[2022-10-16 08:07] FrancescoXX commented on #289
done

[2022-10-16 08:07] #289 closed

[2022-10-16 08:08] ShorunTech commented on #240
![A1E1E29B-0CB8-4BFF-A9EE-1191FA7C415E](https://user-images.githubusercontent.com/61280687/196025276-d31bed66-b880-40c4-ab1b-f43b15946f29.jpeg)

[2022-10-16 08:08] tobySolutions commented on #308
Issue #307 is already about this @DivvSaxena. Thanks for the issue!!

[2022-10-16 08:08] #308 closed

[2022-10-16 08:08] FrancescoXX commented on #303
done

[2022-10-16 08:08] #303 closed

[2022-10-16 08:08] tobySolutions commented on #306
Assign this me.
I can fix this in a jiffy

[2022-10-16 08:09] FrancescoXX commented on #275
yes, can I assign this to you? @Arijit1000

[2022-10-16 08:10] FrancescoXX commented on #285
done thanks

[2022-10-16 08:10] #285 closed

[2022-10-16 08:11] FrancescoXX commented on #287
finally removed

[2022-10-16 08:11] #287 closed

[2022-10-16 08:11] FrancescoXX commented on #292
done

[2022-10-16 08:11] #292 closed

[2022-10-16 08:12] #291 closed

[2022-10-16 08:12] FrancescoXX commented on #306
let's someone else do this and add the `good-first-issue` label please

[2022-10-16 08:13] DivvSaxena commented on #308
ok @tobySolutions thanks for closing!

[2022-10-16 08:19] FrancescoXX opened #309 "[FEATURE] Add github link to the footer"
### Description

Please add a GitHub icon and link on the footer
![image](https://user-images.githubusercontent.com/18360871/196025676-dd117208-3d9f-4eb2-bae8-94831db927a6.png)

Optional:
Add also Twitter and Discord

### Screenshots

_No response_

[2022-10-16 08:20] devvsakib commented on #309
assign me please

[2022-10-16 08:37] ranjankuldeep commented on #306
assign it to me.
I can do this.
@FrancescoXX

[2022-10-16 08:42] AliReza1083 opened #310 "FAQ Page"
**Bug Description**
In FAQ page, the user must click the arrow in order to see the answer...

**Expected behavior**
The user must click anywhere to see the answer.

**Screenshots/Recordings**
![image](https://user-images.githubusercontent.com/99729607/196026519-a64a72d7-e1a5-423b-b8e3-9b8207508503.png)

[2022-10-16 08:54] ranjankuldeep commented on #307
Can you explain a little more about this issue,
what is this Becca?

[2022-10-16 09:43] ShorunTech opened #311 "[FEATURE] Mobile view"
### Description

— The mobile view should not display the nav menu.
— The mobile view should be responsive.

### Screenshots

![E6998A23-874F-49BD-BF51-DEB6DE2E1FB9](https://user-images.githubusercontent.com/61280687/196028629-92a6fcc7-4fe5-46d8-ad59-6bffc904a3b7.png)

[2022-10-16 10:44] Njong392 commented on #263
Ooops. On it. Will get it done ASAP

[2022-10-16 13:27] Arun9650 commented on #311
hi i am working on this feature and it has almost done but what will be the test cases

[2022-10-16 13:28] Arun9650 commented on #309
is anyone working on it or should i do it

[2022-10-16 13:29] devvsakib commented on #309
I'm on it brother,

[2022-10-16 13:30] ShorunTech commented on #311
Once you are done with it just run it locally on your system before you make PR.

[2022-10-16 13:42] Arun9650 commented on #306
i like to do it

[2022-10-16 14:02] Arun9650 commented on #311
thanks

[2022-10-16 14:23] Arijit1000 commented on #275
Yes, please assign @FrancescoXX

[2022-10-16 15:15] Shansince2k3 commented on #310
@AliReza1083 Hi I would like to work on this.. please assign this to me

[2022-10-16 16:49] tobySolutions commented on #306
Closed with #313

[2022-10-16 16:49] #306 closed

[2022-10-16 20:21] tobySolutions commented on #311
Go ahead @Arun9650!!

[2022-10-16 20:22] tobySolutions commented on #240
Any updates @devBayo??

[2022-10-16 20:26] tobySolutions commented on #310
All yours @Shansince2k3!!

[2022-10-16 20:28] tobySolutions commented on #307
Becca is the bot we use on the discord server to manage activities. Since you have to be level 10 and above to be "active", we considered using Becca to help us get people whom are level 10 and above.

[2022-10-17 04:52] tobySolutions commented on #164
Ok, that looks good!

[2022-10-17 06:40] DivvSaxena commented on #309
Assigned!

[2022-10-17 16:01] #309 closed

[2022-10-17 16:46] devvsakib commented on #307
how can we get them? I don't work with bot, just curious to know

[2022-10-17 17:17] Njong392 opened #317 "[DOCS] Specify error mentioned in the README"
### Description

The second section of the README provides some codes to run in case there is an error. I think the error that the codes solve should be specified because the user might have some other error other than the one the README is providing a solution for.

### Screenshots

_No response_

[2022-10-17 18:11] Drex72 commented on #240
Hey, can i work on this??

[2022-10-17 18:29] #263 closed

[2022-10-17 18:34] tobySolutions opened #318 "FAQ Dropdown On Mobile Screen Looks Bad"
**Bug Description**
THE FAQ Dropdown spans the entire screen and it doesn't have any spacing from the edge of the mobile screen.

**Steps to Reproduce**
Steps to reproduce the behavior:
Go to 4c.rocks/faq

![Screenshot_20221017-192917.png](https://user-images.githubusercontent.com/96334363/196255581-f5487591-f445-488c-861e-9e8cbd329a45.png)

[2022-10-17 18:36] tobySolutions commented on #317
Does your PR also resolve this issue?

[2022-10-17 18:37] tobySolutions commented on #310
Are you still working on this @Shansince2k3?

[2022-10-17 18:46] Njong392 commented on #317
Unfortunately no. But I think the person working on #275 could work on this as they go.

[2022-10-17 18:50] Shansince2k3 commented on #310
No,sorry i guess i couldn't do that .😬

[2022-10-18 14:30] tobySolutions commented on #311
Issue closed with #319

[2022-10-18 14:30] #311 closed

[2022-10-18 15:06] haideralipunjabi commented on #310
If this is still pending, you can assign this to me

[2022-10-18 16:55] haideralipunjabi commented on #307
Can we do this with Becca? Does it provide such an API?

[2022-10-18 20:51] Yudai-creator opened #322 "[FEATURE] <nav bar button ease tranisition>"
### Description

The nav bar buttons animation is too hard, we can do something smoother with some cubic bezier easings, it will look more pleasing to the user experience.

### Screenshots

_No response_

[2022-10-18 20:53] Yudai-creator opened #323 "[FEATURE] <4c cards design>"
### Description

Work out a better design for 4C Cards in the whole UI, trying to get rid of using pure white.

### Screenshots

![Uploading Screenshot 2022-10-18 at 16-38-51 4C - Creator Community.png…]()

[2022-10-18 20:56] Yudai-creator opened #324 "[DOCS] <improve brand file>"
### Description

Let's add more stuff to the Brand file, stuff like how to do the gradients, layouts, common patterns, this is something we can work as we go working and descovering the ways of how to apply our brand, looking forward to create our Style Guide.

### Screenshots

_No response_

[2022-10-18 21:01] tobySolutions commented on #318
Looks great!! Submit a PR.

[2022-10-18 21:03] tobySolutions commented on #307
I'm not so sure. What do you think @FrancescoXX??

[2022-10-18 21:03] tobySolutions commented on #317
Sounds great!!

[2022-10-18 21:04] #240 closed

[2022-10-18 21:27] undefined-box commented on #318
Thanks @tobySolutions, can do!
Just another thing, it seems that issue #310 is up for grabs, it is painless and on the same component; I can add a cursor pointer and handle the click on the white box itself in the same pull request and fix both.

Can I fix that too? :)

[2022-10-18 21:56] tobySolutions commented on #318
Sure! Go ahead!

[2022-10-18 22:04] tobySolutions commented on #318
Sorry @undefined-box, that issue has already been fixed by #321

[2022-10-18 22:06] tobySolutions commented on #310
Fixed by #321

[2022-10-18 22:06] #310 closed

[2022-10-18 22:15] tobySolutions opened #325 "Activities Page Layout Is Bad On Mobile View"
**Bug Description**
The content of the activities page seems to be starting out from the far left. Some proper edge spacing would be very much appreciated.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to '4c.rocks/activities' on a phone or try using your browser's responsive mode
![activities-page](https://user-images.githubusercontent.com/96334363/196555116-96177865-a49e-4ab0-8a

[2022-10-19 02:19] haideralipunjabi commented on #307
If it is not possible with Becca, as an alternative we can use another bot to do this.

This bot won't run 24x7, but only from a script that runs from GitHub Actions. It can actually replace the `update_contributors` script that was disabled 10 days ago.

The bot can fetch all members and filter them using the "Active" role.

[2022-10-19 05:26] devvsakib commented on #325
assign

[2022-10-19 06:16] Olaleye-Blessing opened #327 "[FEATURE] Improve FAQ page accessibility"
### Description

Screen readers will have a hard time reading the questions and answers cause they are currently created with `divs`.

![Screenshot (134)](https://user-images.githubusercontent.com/70102539/196610629-9e93244e-7271-471e-943b-ad84d3af6340.png)

The [detail](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) element could be used instead.

Also, I don't think the `ul`

[2022-10-19 08:33] haideralipunjabi commented on #307
I can do the code part and make a PR. Will need someone in setting up the following:

- Create the Discord Bot
- Invite the Bot to the server
- Add its token to this repository's secrets
- And maybe some other small settings

[2022-10-19 09:18] tobySolutions commented on #307
Okay, sounds good. @FrancescoXX, what do you think?

[2022-10-19 10:46] tobySolutions commented on #318
Can you resubmit your PR @undefined-box??

[2022-10-19 15:51] tobySolutions commented on #327
Great!! It's all yours! @Olaleye-Blessing

[2022-10-19 18:15] undefined-box commented on #318
Done @tobySolutions

[2022-10-20 05:29] tobySolutions commented on #325
I haven't seen your or @devvsakib. 😁

[2022-10-20 06:26] devvsakib commented on #325
ops, i didnt get any assign message. my bad😣working

[2022-10-20 14:49] #318 closed

[2022-10-20 17:39] #325 closed

[2022-10-20 18:38] tobySolutions commented on #164
Any updates @Onyelaudochukwuka?

[2022-10-20 18:42] Onyelaudochukwuka commented on #164
I'm yet to design the page on expanded details things has been quite hectic 😪

[2022-10-20 19:58] devvsakib commented on #164
make it simple,

[2022-10-21 09:07] tobySolutions commented on #327
Great job @Olaleye-Blessing!! Issue closed #330.

[2022-10-21 09:07] #327 closed

[2022-10-22 13:01] tobySolutions opened #333 "[FEATURE] Add Pictures Of Projects."
### Description

The Pictures of projects on the Projects page should be added to help us better get a feel of what the project is about. Image URLs should be used though. You can use something like [https://imgbb.com/](url) to upload your image and then copy the Image URL

### Screenshots

![projects_page](https://user-images.githubusercontent.com/96334363/197340381-3e5b8a7b-696d-4cfc-9e16-e5af03

[2022-10-22 13:16] Pragya2056 commented on #333
Assign me

[2022-10-22 13:18] Pragya2056 commented on #333
@tobySolutions
@FrancescoXX

[2022-10-22 17:13] FrancescoXX commented on #333
working on this live

[2022-10-22 17:41] tobySolutions commented on #333
https://imgbb.com/

[2022-10-22 17:50] tobySolutions commented on #333
Closed with #334

[2022-10-22 17:50] #333 closed

[2022-10-22 17:56] FrancescoXX commented on #324
great idea @Yudai-creator

[2022-10-23 02:42] deepanshu1334 commented on #322
Can you assign this issue to me

[2022-10-23 04:57] #276 closed

[2022-10-24 22:09] olybeke commented on #220
hi @codewithshubhi, I would like to work on this issue. Can you assign me?

[2022-10-24 22:12] tobySolutions commented on #324
You're still on this right @Yudai-creator?

[2022-10-24 22:13] tobySolutions commented on #275
Any updates on this???

[2022-10-25 12:51] Yudai-creator commented on #324
Yes I'm in, I'll do the changes I proposed on discord.

On Mon, 24 Oct 2022 at 18:12, Tobiloba Adedeji ***@***.***>
wrote:

[2022-10-26 14:55] Arijit1000 commented on #275
Yes, working on this issue

[2022-10-26 14:55] Arijit1000 commented on #275
@Njong392 If you have any suggestions for me, you can go ahead and we can work together.

[2022-10-26 19:28] Njong392 commented on #275
Sure thing! I'll check out your fork

[2022-10-27 11:38] codewithshubhi commented on #220
Hi @olybeke go ahead with this issue. @FrancescoXX can assign it to you.

[2022-10-27 20:28] olybeke commented on #220
Hi, I'm finding it difficult to locate the file where this particular issue is. Could you please point to me the file?

[2022-10-29 18:26] Njong392 opened #344 "BUG: use of `class` instead of `className`"
**Bug Description**
In the `footer.js` file there is the use of `class` instead of `className` that gives console errors.
**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to `components` folder
2. Click on `footer.js`
3. Check for anchor tags with `class`
4. Check error in console.

**Expected behavior**
I expect no console error.

**Actual behavior**
Console error flags the use of `c

[2022-10-29 23:32] AliReza1083 opened #345 "Image displaying"
**Bug Description**
some of the images in Project section doesn't seem to fit properly.

**Screenshots/Recordings**
![image](https://user-images.githubusercontent.com/99729607/198856235-e81e54ef-a8ac-4b84-b0a7-4d3d97afd699.png)

[2022-10-30 06:28] mani-rsg commented on #344
I will fix this

[2022-10-30 15:15] Yudai-creator commented on #322
I have already done with it

[2022-10-30 20:57] tobySolutions commented on #345
It looks great on my laptop!!
![Screenshot from 2022-10-30 21-54-13](https://user-images.githubusercontent.com/96334363/198901151-b8da3575-7a31-40e2-93f0-b591e9d1a88f.png)
Sorry for bad screenshot. I'm still trying to get used to Ubuntu

[2022-10-30 20:59] tobySolutions commented on #344
Thanks a lot @mani-rsg!!

[2022-10-30 20:59] #344 closed

[2022-10-30 23:42] AliReza1083 commented on #345
Yeah some images are good, but some images aren't.
@tobySolutions

[2022-10-31 05:42] FrancescoXX commented on #345
thank you Ali, we are aware on this. for future projects to submit we should inform what is the best size, but since we don't have the final design we are using these placeholders, that's it

[2022-10-31 05:54] FrancescoXX commented on #164
@Onyelaudochukwuka any update on this?

[2022-10-31 06:19] devvsakib commented on #164
@FrancescoXX  I'm on it, unassign him. I will make a simple card for the blog, for now, later we can improve or change the design as well.. better if you give me some design hints.

 I will make pr maybe in 2 days due to my exam😬

[2022-10-31 08:09] AliReza1083 commented on #345
I see @FrancescoXX

[2022-10-31 10:05] tobySolutions commented on #345
People need to be aware of the right image size so we won't have all those issues. @AliReza1083.

@FrancescoXX is right, these ones are just placeholders.

[2022-10-31 10:53] AliReza1083 commented on #345
Then we can close this issue.

[2022-10-31 10:53] #345 closed

[2022-11-01 01:50] tobySolutions commented on #323
Has this already been done @Yudai-creator?

[2022-11-01 01:50] #322 closed

[2022-11-01 13:08] Yudai-creator commented on #323
Yes, we can close this one too

[2022-11-01 13:08] #323 closed

[2022-11-04 10:49] tobySolutions commented on #307
Closed for now.

[2022-11-04 10:49] #307 closed

[2022-11-04 22:51] tobySolutions opened #351 "[FEATURE] Projects Cards don't need the "Title" and "Author" tags"
### Description

The "Title" and "Author" tags on the project cards are unnecessary and they make the cards look bad

### Screenshots

![4c_issue](https://user-images.githubusercontent.com/96334363/200085997-aa53251f-afcb-4740-8e6e-7c788c1d1761.png)

[2022-11-05 05:39] sanduninduwara commented on #351
do you want to remove only the "Title" and "Author" tags or remove tags and all text under those tags?

[2022-11-05 06:29] tobySolutions commented on #351
The tags alone are enough.

[2022-11-05 20:24] sanduninduwara commented on #351
done. check out my pull request.

[2022-11-06 09:24] RakeshSangem opened #353 "[FEATURE] improve project card"
### Description

The current project card can be improved. So I would like to work on it. You can find the reference design below.

### Screenshots

![pr card](https://user-images.githubusercontent.com/107752425/200163230-c105b5e6-caca-4f3f-8a3d-949d43ac87db.png)

[2022-11-06 09:31] tobySolutions commented on #353
NIce @RakeshSangem!!

[2022-11-06 09:32] tobySolutions commented on #351
Ok cool, I'll check it now.

[2022-11-06 17:45] #353 closed

[2022-11-06 17:46] FrancescoXX commented on #351
solved

[2022-11-06 17:46] #351 closed

[2022-11-06 17:48] FrancescoXX commented on #164
@devvsakib do you want to make a simple version for this?

[2022-11-06 17:50] FrancescoXX commented on #220
please check https://github.com/FrancescoXX/4c-site/blob/main/components/Header.js

[2022-11-06 17:51] FrancescoXX commented on #275
@Njong392 and @Arijit1000 do you still wanna work on this?

[2022-11-06 17:53] FrancescoXX opened #355 "[FEATURE] Improve the video section"
### Description

Please improve the video section, by providing a component and the possibility to embed multiple videos on the page (one link per component)

![image](https://user-images.githubusercontent.com/18360871/200186835-5ba0ee6a-76c5-4195-9d35-b9e8cd007a3f.png)

### Screenshots

_No response_

[2022-11-06 18:29] devvsakib commented on #164
okkk, I'm on it

[2022-11-06 20:50] devvsakib opened #358 "projects card space increased"
### Description

Need more space.

![image](https://user-images.githubusercontent.com/88339569/200194411-bef30966-44bb-4c7e-8c5d-276bd8e80e89.png)

### Screenshots

_No response_

[2022-11-06 20:50] devvsakib commented on #358
pr #357

[2022-11-06 21:11] tobySolutions commented on #355
The idea of the project and active-members page with the JSON can be replicated here.

[2022-11-06 21:12] tobySolutions commented on #275
??

[2022-11-06 21:13] tobySolutions commented on #220
@codewithshubhi  and @olybeke. I trust you guys are done with this right?? :smile: :+1:

[2022-11-06 21:20] tobySolutions commented on #164
Great job @devvsakib!!

[2022-11-06 22:18] Njong392 commented on #275
I thought @Arijit1000 was on this. Don't know how far they've gone with it, I'm happy to jump in.

[2022-11-06 22:21] tobySolutions commented on #275
Sure thing Emy!! Go ahead!!

[2022-11-07 02:50] RakeshSangem opened #360 "[FEATURE] improve footer"
### Description

Footer can be improved.

### Screenshots

![image](https://user-images.githubusercontent.com/107752425/200216276-c3f86573-46e8-46c4-b624-74b1ec906d3f.png)

[2022-11-07 04:36] IAmTamal opened #363 "[FEATURE] Landing pages - Mobile view"
### Description

Currently all the stuffs are in the left for mobiles too. That leaves some unused spaces to the right and would make it difficult to focus on mobile view.

- Change the texts to be center in mobile view
- Change the buttons to be in center for mobile view

### Screenshots

## What it is currently ?

![image](https://user-images.githubusercontent.com/72851613/200225897-d8b2cb4e-7c9

[2022-11-07 06:43] RakeshSangem commented on #363
Nice catch, Tamal!

[2022-11-07 17:00] devvsakib commented on #358
merged pr

[2022-11-09 10:58] tobySolutions commented on #363
Anyone wants to work on this?

[2022-11-09 21:55] tobySolutions opened #367 "Project cards are not properly aligned"
**Bug Description**
When the page is loaded, the cards start without an image and it causes the text to be pushed occupy the entire card. Also the different image sizes cause the cards to have varying content structure.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.4c.rocks/projects'
2. While the page is loading, you'll notice how the text is pushed to the top befo

[2022-11-10 08:24] adityabisht02 opened #368 ""View" button on the projects page"
Bug Description:
The anchor tag for the "View" button on the projects page is currently blank. Since we are taking the twitter handle of the project maintainer, it should be having the twitter handle.

Steps to Reproduce:
Steps to reproduce the behavior:
1. Go to  the Projects page on the website.
2. Click on the view button on any project card.
3. The View will not take the user anywhere.

![imag

[2022-11-10 11:46] tobySolutions commented on #368
No, the view should take you to the live site. The URL of the live site will be behind to route you to where the site is.

[2022-11-10 11:47] tobySolutions commented on #368
The issue should be that the view does not route you to the live site.

[2022-11-10 19:49] adityabisht02 commented on #368
Yeah in that case I should close this issue since we are not taking the deployed project link.

[2022-11-10 19:49] #368 closed

[2022-11-11 06:25] #360 closed

[2022-11-11 09:30] tobySolutions commented on #164
This has been implemented right?  We just need to add articles, right @FrancescoXX @devvsakib??

[2022-11-11 11:34] devvsakib commented on #164
@tobySolutions  yessss, like projects.  We have blog.json file

[2022-11-11 11:43] tobySolutions commented on #164
So @devvsakib, this should be closed right?

[2022-11-11 14:09] devvsakib commented on #164
@tobySolutions  hope so, we can create new issues to improve blog card further💯

[2022-11-11 15:46] tobySolutions commented on #164
@FrancescoXX??

[2022-11-11 16:35] devvsakib commented on #164
let's see what Francesco says

[2022-11-11 21:30] #367 closed

[2022-11-12 05:51] devvsakib opened #371 "PROJECTS title color in moble view"
### Description

White text in mobile view does not match the background color, maybe we can change it to black?

## White
![image](https://user-images.githubusercontent.com/88339569/201459362-2c1284ec-098d-4676-a250-df95a25ac101.png)

## Black
![image](https://user-images.githubusercontent.com/88339569/201459255-b5ea111a-e637-4091-bc8a-5ee597d4eecb.png)

*** not a major problem, just thought it c

[2022-11-12 16:28] Manikanta528 opened #374 "view button is broken for all project cards in projects section"
**Bug Description**
A clear and concise description of what the bug is.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to [4c-projects](https://www.4c.rocks/projects#)
2. Click on the view buttons of the project cards

**Expected behavior**
that it doesn't redirect to project card website

**Actual behavior**
it redirects to same projects page

[2022-11-12 18:13] OkenHaha commented on #374
I can work on this and I'm nearly done with it also

[2022-11-13 05:22] #374 closed

[2022-11-13 05:32] tobySolutions opened #376 "Overflow-Scroll on Desktop view"
**Bug Description**
The desktop view on the projects page has an overflow that's causing a scroller to appear on the side of the projects cards

![new_4c_bug](https://user-images.githubusercontent.com/96334363/201507435-46da5c62-27e8-4d97-9d43-d61bf724b979.png)

[2022-11-13 05:40] tobySolutions commented on #376
Fixed by #377

[2022-11-13 05:40] #376 closed

[2022-11-13 10:39] AnvaySingh commented on #355
<img width="948" alt="image" src="https://user-images.githubusercontent.com/105000712/201517437-d4bea6e9-6f22-40f5-945d-9b157098469e.png">

Do you mean something like this?

[2022-11-13 18:43] tobySolutions commented on #355
Good job @AnvaySingh!!

[2022-11-13 18:43] tobySolutions commented on #355
Fixed by #378

[2022-11-13 18:43] #355 closed

[2022-11-13 18:51] tobySolutions commented on #317
Anyone wants to work on this??

[2022-11-13 18:56] tobySolutions commented on #185
Does anyone want to work on this?? @anuragh2002??

[2022-11-13 18:57] #164 closed

[2022-11-14 03:02] anuragh2002 commented on #185
@tobySolutions It's already completed I suppose. I worked on it and my pr got merged!

[2022-11-14 13:29] Manikanta528 commented on #371
assign me @tobySolutions
completed the changes and merged with latest commits

[2022-11-14 16:55] #371 closed

[2022-11-14 23:54] Manikanta528 commented on #363
I can work on this

[2022-11-15 00:25] Manikanta528 opened #383 "small typo error"
small typo text 'of' was too small
<img width="603" alt="Screenshot 2022-11-15 at 5 52 57 AM" src="https://user-images.githubusercontent.com/62022514/201795755-226e7673-09b9-4503-a99d-b3926c512e25.png">

[2022-11-15 03:33] RakeshSangem commented on #363
I think, I can fix that!

[2022-11-15 09:17] tobySolutions commented on #383
Good job @Manikanta528!!

[2022-11-15 09:18] tobySolutions commented on #383
Fixed by #384

[2022-11-15 09:18] #383 closed

[2022-11-15 09:20] tobySolutions commented on #363
Go ahead @RakeshSangem!!

[2022-11-15 09:22] tobySolutions opened #385 "Blog page cards are very misaligned and need to be properly laid out"
The cards look hideous and misaligned. Clever styling should be used to make them look better
![blog_issue](https://user-images.githubusercontent.com/96334363/201881025-11214912-58de-4210-ba36-185cbdcf37d9.png)

[2022-11-16 15:27] tobySolutions commented on #324
Hey @Yudai-creator, are you still working on this??

[2022-11-17 14:38] tobySolutions opened #387 "Projects' title are not properly aligned"
![Screenshot from 2022-11-17 15-37-09](https://user-images.githubusercontent.com/96334363/202475343-11da3801-58e2-4b66-be4e-07d8e387fb36.png)

[2022-11-18 16:09] devvsakib commented on #387
whats wrong here?

[2022-11-18 16:22] tobySolutions commented on #387
Look at the Yudai creator header.

[2022-11-21 23:25] tobySolutions commented on #220
Fixed by #390

[2022-11-21 23:25] #220 closed

[2022-11-21 23:26] tobySolutions commented on #275
Great job once again @Njong392!!

[2022-11-21 23:27] #275 closed

[2022-11-22 10:00] tobySolutions commented on #317
Great job @Njong392!!

[2022-11-22 10:00] #317 closed

[2022-11-22 10:01] tobySolutions commented on #324
Hey @Yudai-creator!! What's up?

[2022-11-22 10:03] tobySolutions commented on #363
Hey @RakeshSangem, what's up?? You're almost done, right??

[2022-11-22 12:07] tobySolutions commented on #363
Fixed by #391

[2022-11-22 12:07] #363 closed

[2022-11-23 02:28] AliReza1083 opened #393 "No clickable"
**Bug Description**
In FAQ page, If the user click the corners of each FAQs, They won't be able to see the answer.

**Expected behavior**
I want it to be clickable when the user click each FAQ items

**Screenshots/Recordings**
![image](https://user-images.githubusercontent.com/99729607/203458293-bddc1fed-ba16-47e5-8734-b4349d3ef773.png)
If the user click the the highlighted place, it won't work

A

[2022-11-23 06:25] tobySolutions commented on #393
All yours!! Go ahead!!

[2022-11-27 15:40] tobySolutions commented on #324
Are you still working on this @Yudai-creator??

[2022-11-29 22:52] tobySolutions opened #396 "Fix Videos Embed On Videos Page"
**Bug Description**
The videos page has a video embed iframe that looks really tiny and miniaturized.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 4c.rocks
2. Click on Videos button to go to the Videos page.

![videos_page_issues](https://user-images.githubusercontent.com/96334363/204665949-480530a7-4a78-4da5-b807-a0e5311e3911.png)

[2022-11-30 13:52] merouanezouaid commented on #396
I will look into it!

[2022-11-30 15:36] merouanezouaid commented on #396
@tobySolutions how do you find it?

![fix](https://user-images.githubusercontent.com/74367730/204841027-d41d09ea-abb9-4cb5-ad21-4dc621ac0a7e.PNG)

[2022-11-30 15:41] merouanezouaid commented on #396
I suggest we make a youtube playlist so we can access all the videos on the same page instead of scrolling.

[2022-11-30 18:03] tobySolutions commented on #396
You know we might need to add more videos, right? Has that been handled.